/*******
 ! Font
 *******/

stage {
    font-family: $font-family;
    font-size: $font-size;
    color: $white;
}

.cinnamon-link {
    color: $white;

    &:hover {
        color: $selected_bg_color;
        text-decoration: underline;
    }
}
