/**************
 ! Base states
 **************/

@import "widgets";

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/
.modal-dialog {
    font-size: 10pt;
    background-color: $dark_bg_color;
    color: $dark_fg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
    padding: 22px;
}

.modal-dialog-button-box {
    padding-top: 8px;
    spacing: 21px;
}

.modal-dialog-button {
    font-size: 10pt;
    color: $dark_fg_color;
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 31px 5px;
}

.modal-dialog-button:focus {
    font-size: 10pt;
    color: $dark_fg_color;
    background-color: $dark_bg_color;
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 31px 5px;
}

.modal-dialog-button:hover {
    background-color: $selected_bg_color;
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
}

.modal-dialog-button:active,
.modal-dialog-button:checked {
    background-color: alpha($selected_bg_color, 0.8);
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
}

.modal-dialog-button:disabled {
    color: #a6a6a6;
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/
.run-dialog-label {
    font-size: 0pt;
    padding-bottom: 0px;
    color: $transparent;
    font-weight: bold;
}

.run-dialog-error-label {
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    padding: 4px 12px;
    border-radius: 2px;
    color: $dark_fg_color;
    border: 1px solid $border_color;
    background-color: $dark_bg_color;
    selected-color: $dark_fg_color;
    caret-color: $dark_fg_color;
    caret-size: 1px;
    width: 250px;
    height: 16px; 
    transition-duration: 300;
    selection-background-color: $selected_bg_color;
}

.run-dialog-completion-box { 
    padding-left: 15px;
    font-size: 10px;
} 

.run-dialog {
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.run-dialog .modal-dialog-button-box {
    padding-top: 0;
    spacing: 110px;
}

/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/

.lightbox {
    background-color: alpha($black, 0.4);
}

.flashspot {
    background-color: $white;
}
