/**************
 ! Base states
 **************/

@import "widgets";

/* small fonts */
.run-dialog-label, .run-dialog-error-label {
    font-size: 8pt;
}

/* small bold fonts */
.window-caption, .switcher-list {
    font-size: 8pt;
    font-weight: bold;
}

.nm-menu-item-icons {
    spacing: .3em;
}

StScrollBar {
    padding: 4px;
}

StScrollView.vfade {
    -st-vfade-offset: 68px;
}

StScrollView StScrollBar {
    min-width: 10px;
    min-height: 10px;
}

StScrollBar StBin#trough {
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
}

StScrollBar StButton#vhandle {
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
}

StScrollBar StButton#hhandle {
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
    background-color: $selected_bg_color;
    border: 1px solid $selected_bg_color;
    padding: 4px;
}

/* Connamonból átvéve */
/*.separator {
    -gradient-height: 2px;
    -gradient-start: rgba(85,85,85,1);
    -gradient-end: $selected_bg_color;
    -margin-horizontal: 1.5em;
    height: 1em;
}*/

/* Connamonból átvéve - vége */

/* Switches (to be used in menus) */
.toggle-switch {
    width: 51px;
    height: 18px;
}

.toggle-switch-us,
.toggle-switch-intl {
    border-image: url("control-assets/off.png") 4 4 4 4 stretch;
}

.toggle-switch-us:checked,
.toggle-switch-intl:checked {
    border-image: url("control-assets/on.png") 4 4 4 4 stretch;
}

/* ===================================================================
 * Overview 
 * ===================================================================*/
#overview {
    spacing: 12px;
    background-color: rgba(100,100,100,0.3);
}

.expo-background {
    spacing: 12px;
    background-color: rgba(100,100,100,0.3);
}

.window-caption {
    spacing: 25px;
    background-color: alpha($black, 0.5);
    border: 1px solid alpha($white, 0.25);
    border-top-width: 0;
    border-radius: 6px;
    color: $white;
    padding: 6px 8px;
    -cinnamon-caption-spacing: 4px;
}

.window-caption#selected {
}

.workspace-thumbnails {
    spacing: 14px;
}

.workspace-add-button {
    background-image: url("control-assets/plus.png");
    height: 24px;
    width: 25px;
}

.workspace-add-button:hover {
    background-image: url("control-assets/plus-hover.png");
}

.workspace-close-button {
    background-image: url("control-assets/close.png");
    background-size: 22px;
    height: 22px;
    width: 22px;
    -cinnamon-close-overlap: 11px;
}

.workspace-close-button:hover {
    background-image: url("control-assets/close-hover.png");
    transition-duration: 100;
}

.window-close {
    background-image: url("control-assets/close.png");
    background-size: 22px;
    height: 22px;
    width: 22px;
    -cinnamon-close-overlap: 8px;
}

.window-close:hover {
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 35px;
    background-image: url("control-assets/close-hover.png");
    transition-duration: 100;
}

.window-close-area {
    background-image: url("misc-assets/trash.png");
    background-color: rgba(32, 32, 32, 1.0);
    border: 2px solid alpha($white, 0.6);
    box-shadow: 0px 0px 2px 1px alpha($black, 0.5);
    border-bottom-width: 0px;
    height: 120px;
    width: 220px;
}

/* ===================================================================
 * Alt Tab
 * ===================================================================*/
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
    padding: 20px;
    font-size: $font-size;
    color: $dark_fg_color;
    font-weight: bold;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-color: alpha($dark_bg_color, 0.5);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-color: alpha($dark_bg_color, 0.5);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border: 1px solid $transparent;
    border-radius: 0px;
}

.switcher-list .item-box:outlined {
    padding: 6px;
    border: 2px solid alpha($border_color, 0);
}

.switcher-list .item-box:selected {
    background-color: $selected_bg_color;
    border-radius: 2px;
}

.switcher-list .thumbnail-box {
    background-color: none;
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width: 256px;
}

.switcher-list .separator {
    width: 1px;
    background: alpha($white, 0.33);
}

.ripple-box {
    width: 104px;
    height: 104px;
    background-image: url("corner-ripple.png");
}

.ripple-box:rtl {
    background-image: url("corner-ripple.png");
}

.switcher-arrow {
    border-color: $transparent;
    color: $dark_fg_color;
}

.switcher-arrow:highlighted {
    border-color: $transparent;
    color: $white;
}

.switcher-preview-backdrop {
   background-color: alpha($dark_bg_color, 0.7);
}

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/
.modal-dialog {
    font-size: 10pt;
    background-color: $dark_bg_color;
    color: $dark_fg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
    padding: 22px;
}

.modal-dialog-button-box {
    padding-top: 8px;
    spacing: 21px;
}

.modal-dialog-button {
    font-size: 10pt;
    color: $dark_fg_color;
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 31px 5px;
}

.modal-dialog-button:focus {
    font-size: 10pt;
    color: $dark_fg_color;
    background-color: $dark_bg_color;
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 31px 5px;
}

.modal-dialog-button:hover {
    background-color: $selected_bg_color;
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
}

.modal-dialog-button:active,
.modal-dialog-button:checked {
    background-color: alpha($selected_bg_color, 0.8);
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
}

.modal-dialog-button:disabled {
    color: #a6a6a6;
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/
.run-dialog-label {
    font-size: 0pt;
    padding-bottom: 0px;
    color: $transparent;
    font-weight: bold;
}

.run-dialog-error-label {
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    padding: 4px 12px;
    border-radius: 2px;
    color: $dark_fg_color;
    border: 1px solid $border_color;
    background-color: $dark_bg_color;
    selected-color: $dark_fg_color;
    caret-color: $dark_fg_color;
    caret-size: 1px;
    width: 250px;
    height: 16px; 
    transition-duration: 300;
    selection-background-color: $selected_bg_color;
}

.run-dialog-completion-box { 
    padding-left: 15px;
    font-size: 10px;
} 

.run-dialog {
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.run-dialog .modal-dialog-button-box {
    padding-top: 0;
    spacing: 110px;
}

.lightbox {
    background-color: alpha($black, 0.4);
}

/* ===================================================================
 * End session dialog
 * ===================================================================*/
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: $fg_color;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 10pt;
    color: $white;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    border: 2px solid $border_color;
    border-radius: 0px;
    width: 32px;
    height: 32px;
}

.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #ccc;
}

.end-session-dialog-app-list-item:hover {
    color: $white;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: $fg_color;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: $fg_color;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: $white;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: rgba(200,200,200,1);
}

.show-processes-dialog-app-list-item:hover {
    color: $white;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/
.polkit-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout {
    spacing: 16px;
}

.polkit-dialog-headline {
    font-size: $font-size;
    font-weight: bold;
    color: $fg_color;
}

.polkit-dialog-description {
    font-weight: normal;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: $error_color;
}

.polkit-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.polkit-dialog-password-entry {
    selected-color: $white;
    border-radius: 0;
    color: $white;
    border: 1px solid rgba(200,200,200,0.12);
    background-gradient-direction: vertical;
    background-gradient-start: alpha($black, 0.3);
    background-gradient-end: alpha($black, 0.3);
    box-shadow: inset 0px 1px 2px 0px alpha($black, 0.5);
    caret-size: 1px;
    caret-color: $white;
}

.polkit-dialog-password-entry:focus {
    color: $white;
}

.polkit-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: $warning_color;
    padding: 0 4px;
}

.polkit-dialog-error-label {
    font-size: 10pt;
    color: $error_color;
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
    font-size: 10pt;
    color: $transparent;
    padding-bottom: 8px;
}

.network-dialog-secret-table {
    spacing-rows: 15px;
}

/* ===================================================================
 * Magnifier
 * ===================================================================*/
.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/
#keyboard {
    background-color: $dark_bg_color;
    border-top: 1px solid $border_color;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
    font-size: 14pt;
    font-weight: bold;
    color: $dark_fg_color;
}

.keyboard-key:grayed {
    color: #888;
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-color: $selected_bg_color;
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
}

.keyboard-key:active {
    background-color: alpha($selected_bg_color, 0.8);
    border: 1px solid $selected_bg_color;
    border-radius: 2px
}

.keyboard-subkeys {
    color: $dark_fg_color;
    padding: 5px;
    -arrow-border-radius: 0px;
    -arrow-background-color: $dark_bg_color;
    -arrow-border-width: 1px;
    -arrow-border-color: $border_color;
    -arrow-border-radius: 2px;
    -arrow-base: 21px;
    -arrow-rise: 9px;
    -boxpointer-gap: 2px;
}

/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/

/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/

/* Main menu title */
.menu-favorites-box {  
    background-gradient-direction: vertical;
    background-gradient-start: $transparent;
    background-gradient-end: alpha($black, 0.15);
    border: 1px solid alpha($white, 0.1);
    width: 70%;
    margin: auto;
    padding: 0px;
    border-radius: 3px;
}

.menu-favorites-button {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}

.menu-favorites-button:hover {
    background-color: $selected_bg_color;
    box-shadow: inset 0px 0px 1px 1px alpha($selected_bg_color, 0.8);
    border-radius: 2px;
}

.menu-places-box {  
    margin: auto;
    padding: 8px;
    border: 0px solid $border_color;  
}

.menu-places-button {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
}

.menu-categories-box {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;    
}

.menu-applications-box {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.menu-application-button {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px; 
    max-width: 10px;   
}

.menu-application-button-selected {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    color: $dark_fg_color;
    background-color: $selected_bg_color;
    box-shadow: inset 0px 0px 1px 1px alpha($selected_bg_color, 0.8);
    border-radius: 2px;
}

.menu-application-button-label:ltr { 
    padding-left: 5px;
}

.menu-application-button-label:rtl { 
    padding-right: 5px;
}

.menu-application-button:highlighted {
}

.menu-application-button-selected:highlighted {
    border-image: none;
    color: $dark_fg_color;
    background-color: $selected_bg_color;
    box-shadow: inset 0px 0px 1px 1px alpha($selected_bg_color, 0.8);
    border-radius: 2px;
}

.menu-category-button {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.menu-category-button-greyed {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px; 
    color: rgba(100,100,100,1);
    font-style: normal;
}

.menu-category-button-selected {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px; 
    color: $dark_fg_color;
    background-color: $selected_bg_color;
    box-shadow: inset 0px 0px 1px 1px alpha($selected_bg_color, 0.8);
    border-radius: 2px;
}

.menu-category-button-label:ltr { 
    padding-left: 5px       
}

.menu-category-button-label:rtl { 
    padding-right: 5px       
}

.menu-category-button-button:hover {
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
}

/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu */
.menu-selected-app-box {
    padding-right: 30px;
    padding-left: 28px;
    text-align: right;
}

.menu-selected-app-title {
    font-weight: bold;
}

.menu-selected-app-description {
    max-width: 150px;
}

.menu-search-box {
   padding-left: 30px;
}

#menu-search-entry {
    padding: 4px 12px;
    border-radius: 2px;
    color: $dark_fg_color;
    border: 1px solid $border_color;
    background-color: $dark_bg_color;
    border-radius: 2px;
    selected-color: $dark_fg_color;
    caret-color: $dark_fg_color;
    caret-size: 1px;
    width: 250px;
    height: 16px; 
    transition-duration: 300;
    selection-background-color: $selected_bg_color;
}

#menu-search-entry:focus,
#menu-search-entry:hover {
    color: $dark_fg_color;
    border: 1px solid $border_color;
    background-color: $dark_bg_color;
    border-radius: 2px;
}

#menu-search-entry:hover {
}

#menu-search-entry:focus {
    color: $dark_fg_color;
    font-weight: bold;
    transition-duration: 0;
}

.menu-search-entry-icon {
    icon-size: 1em;
    color: $dark_fg_color;
}

/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/

/* Controls the styling when using the "Simple buttons" option */
.workspace-switcher {
    padding-left: 3px;
    padding-right: 3px;
}

.workspace-button {
    width: 24px;
    height: 10px;
    font-weight: bold;
    color: $white;
    border: 1px solid alpha($white, 0);
    border-top: 0px;
    border-bottom: 0px;
    transition-duration: 200;
}

.workspace-button:hover {
    border: 1px solid alpha($white, 0.4);
    border-top: 0px;
    border-bottom: 0px;
    color: $white;
    background-gradient-direction: vertical;
    background-gradient-end: alpha($white, 0.3);
    background-gradient-start: alpha($white, 0.2);
}

.workspace-button:outlined {
    border: 1px solid alpha($white, 0.4);
    border-top: 0px;
    border-bottom: 0px;
    color: $white;
    background-gradient-direction: vertical;
    background-gradient-end: alpha($white, 0.3);
    background-gradient-start: alpha($white, 0.2);
}

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
    padding: 3px;
    spacing: 3px;
}

.workspace-graph .workspace {
    border: 1px solid #666;
    background-gradient-direction: vertical;
    background-gradient-start: #222;
    background-gradient-end: $dark_bg_color;
}

.workspace-graph .workspace:active {
    border: 1px solid #ccc;
    background-gradient-direction: vertical;
    background-gradient-start: #111;
    background-gradient-end: alpha($dark_bg_color, 0.8);
}

.workspace-graph .workspace .windows {
    -active-window-background: rgba(140, 140, 140, 1.0);
    -active-window-border: alpha($black, 0.7);
    -inactive-window-background: rgba(140, 140, 140, 1.0);
    -inactive-window-border: alpha($black, 0.7);
}

.workspace-graph .workspace:active .windows {
    -active-window-background: $white;
    -active-window-border: alpha($black, 0.9);
    -inactive-window-background: rgba(140, 140, 140, 1.0);
    -inactive-window-border: alpha($black, 0.7);
}

/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
    background-image: url("control-assets/overview.png");
}

#overview-corner:hover {
    background-image: url("control-assets/overview-hover.png");
}

/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
.applet-box {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    color: $white;
    border: 1px solid alpha($white, 0);
    border-top: 0px;
    border-bottom: 0px;
    transition-duration: 200;
}

.applet-box:hover {
    border: 1px solid alpha($white, 0.4);
    border-top: 0px;
    border-bottom: 0px;
    color: $white;
    background-gradient-direction: vertical;
    background-gradient-end: alpha($white, 0.3);
    background-gradient-start: alpha($white, 0.2);
}

.applet-label {
    color: $white;
    text-align: center;
}

.applet-icon {
    color: $white;
}
/* ===================================================================
 * Workspace OSD
 * ===================================================================*/

.workspace-osd {
    border-radius: 6px;
    padding: 12px 16px;
    background-color: alpha($black, 0.5);
    border: 1px solid alpha($white, 0.25);
    font-size: 20pt;
    font-weight: bold;
    color: $white;
}

.expo-workspaces-name-entry {
    background-color: alpha($black, 0.5);
    border: 1px solid alpha($white, 0.25);
    border-top-width: 0;
    border-radius: 6px;
    color: $white;
    padding: 6px 8px;
    height: 16px;
}

.expo-workspaces-name-entry#selected {
}

.expo-workspaces-name-entry:focus {
    selection-background-color: black;
    selected-color: $white;
    color: $white;
    background-color: alpha($black, 0.3);
    caret-size: 1px;
    box-shadow: inset 0px 1px 2px 0px alpha($black, 0.5);
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
}

.check-box StBin {
    width: 24px;
    height: 22px;
    background-image: url("control-assets/checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("control-assets/checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("control-assets/checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("control-assets/checkbox-focused.svg");
}

.check-box StLabel {
    font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin {
    width: 22px;
    height: 22px;
    background-image: url("control-assets/radiobutton-off.png");
    border-radius: 15px;
}

.radiobutton:focus StBin {
    background-image: url("control-assets/radiobutton-off.png");
}

.radiobutton:checked StBin {
    background-image: url("control-assets/radiobutton.png");
}

.radiobutton:focus:checked StBin {
    background-image: url("control-assets/radiobutton.png");
}

.radiobutton StLabel {
    padding-top: 4px;
    font-size: 0.9em;
    box-shadow: none;
}

.flashspot {
    background-color: $white;
}
