/**************
 ! Base states
 **************/

@import "widgets";

/* Switches (to be used in menus) */
.toggle-switch {
    width: 51px;
    height: 18px;
}

.toggle-switch-us,
.toggle-switch-intl {
    border-image: url("control-assets/off.png") 4 4 4 4 stretch;
}

.toggle-switch-us:checked,
.toggle-switch-intl:checked {
    border-image: url("control-assets/on.png") 4 4 4 4 stretch;
}

/* ===================================================================
 * Overview 
 * ===================================================================*/
#overview {
    spacing: 12px;
    background-color: rgba(100,100,100,0.3);
}

.expo-background {
    spacing: 12px;
    background-color: rgba(100,100,100,0.3);
}

.window-caption {
    font-size: 8pt;
    font-weight: bold;
    spacing: 25px;
    background-color: alpha($black, 0.5);
    border: 1px solid alpha($white, 0.25);
    border-top-width: 0;
    border-radius: 6px;
    color: $white;
    padding: 6px 8px;
    -cinnamon-caption-spacing: 4px;
}

.window-caption#selected {
}

.workspace-thumbnails {
    spacing: 14px;
}

.workspace-add-button {
    background-image: url("control-assets/plus.png");
    height: 24px;
    width: 25px;
}

.workspace-add-button:hover {
    background-image: url("control-assets/plus-hover.png");
}

.workspace-close-button {
    background-image: url("control-assets/close.png");
    background-size: 22px;
    height: 22px;
    width: 22px;
    -cinnamon-close-overlap: 11px;
}

.workspace-close-button:hover {
    background-image: url("control-assets/close-hover.png");
    transition-duration: 100;
}

.window-close {
    background-image: url("control-assets/close.png");
    background-size: 22px;
    height: 22px;
    width: 22px;
    -cinnamon-close-overlap: 8px;
}

.window-close:hover {
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 35px;
    background-image: url("control-assets/close-hover.png");
    transition-duration: 100;
}

.window-close-area {
    background-image: url("misc-assets/trash.png");
    background-color: rgba(32, 32, 32, 1.0);
    border: 2px solid alpha($white, 0.6);
    box-shadow: 0px 0px 2px 1px alpha($black, 0.5);
    border-bottom-width: 0px;
    height: 120px;
    width: 220px;
}

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/
.modal-dialog {
    font-size: 10pt;
    background-color: $dark_bg_color;
    color: $dark_fg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
    padding: 22px;
}

.modal-dialog-button-box {
    padding-top: 8px;
    spacing: 21px;
}

.modal-dialog-button {
    font-size: 10pt;
    color: $dark_fg_color;
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 31px 5px;
}

.modal-dialog-button:focus {
    font-size: 10pt;
    color: $dark_fg_color;
    background-color: $dark_bg_color;
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 31px 5px;
}

.modal-dialog-button:hover {
    background-color: $selected_bg_color;
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
}

.modal-dialog-button:active,
.modal-dialog-button:checked {
    background-color: alpha($selected_bg_color, 0.8);
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
}

.modal-dialog-button:disabled {
    color: #a6a6a6;
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/
.run-dialog-label {
    font-size: 0pt;
    padding-bottom: 0px;
    color: $transparent;
    font-weight: bold;
}

.run-dialog-error-label {
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    padding: 4px 12px;
    border-radius: 2px;
    color: $dark_fg_color;
    border: 1px solid $border_color;
    background-color: $dark_bg_color;
    selected-color: $dark_fg_color;
    caret-color: $dark_fg_color;
    caret-size: 1px;
    width: 250px;
    height: 16px; 
    transition-duration: 300;
    selection-background-color: $selected_bg_color;
}

.run-dialog-completion-box { 
    padding-left: 15px;
    font-size: 10px;
} 

.run-dialog {
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.run-dialog .modal-dialog-button-box {
    padding-top: 0;
    spacing: 110px;
}

/* ===================================================================
 * Magnifier
 * ===================================================================*/
.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/
#keyboard {
    background-color: $dark_bg_color;
    border-top: 1px solid $border_color;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
    font-size: 14pt;
    font-weight: bold;
    color: $dark_fg_color;
}

.keyboard-key:grayed {
    color: #888;
    background-color: $dark_bg_color;
    border: 1px solid $border_color;
    border-radius: 2px;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-color: $selected_bg_color;
    border: 1px solid $selected_bg_color;
    border-radius: 2px;
}

.keyboard-key:active {
    background-color: alpha($selected_bg_color, 0.8);
    border: 1px solid $selected_bg_color;
    border-radius: 2px
}

.keyboard-subkeys {
    color: $dark_fg_color;
    padding: 5px;
    -arrow-border-radius: 0px;
    -arrow-background-color: $dark_bg_color;
    -arrow-border-width: 1px;
    -arrow-border-color: $border_color;
    -arrow-border-radius: 2px;
    -arrow-base: 21px;
    -arrow-rise: 9px;
    -boxpointer-gap: 2px;
}

/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/

/* Controls the styling when using the "Simple buttons" option */
.workspace-switcher {
    padding-left: 3px;
    padding-right: 3px;
}

.workspace-button {
    width: 24px;
    height: 10px;
    font-weight: bold;
    color: $white;
    border: 1px solid alpha($white, 0);
    border-top: 0px;
    border-bottom: 0px;
    transition-duration: 200;
}

.workspace-button:hover {
    border: 1px solid alpha($white, 0.4);
    border-top: 0px;
    border-bottom: 0px;
    color: $white;
    background-gradient-direction: vertical;
    background-gradient-end: alpha($white, 0.3);
    background-gradient-start: alpha($white, 0.2);
}

.workspace-button:outlined {
    border: 1px solid alpha($white, 0.4);
    border-top: 0px;
    border-bottom: 0px;
    color: $white;
    background-gradient-direction: vertical;
    background-gradient-end: alpha($white, 0.3);
    background-gradient-start: alpha($white, 0.2);
}

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
    padding: 3px;
    spacing: 3px;
}

.workspace-graph .workspace {
    border: 1px solid #666;
    background-gradient-direction: vertical;
    background-gradient-start: #222;
    background-gradient-end: $dark_bg_color;
}

.workspace-graph .workspace:active {
    border: 1px solid #ccc;
    background-gradient-direction: vertical;
    background-gradient-start: #111;
    background-gradient-end: alpha($dark_bg_color, 0.8);
}

.workspace-graph .workspace .windows {
    -active-window-background: rgba(140, 140, 140, 1.0);
    -active-window-border: alpha($black, 0.7);
    -inactive-window-background: rgba(140, 140, 140, 1.0);
    -inactive-window-border: alpha($black, 0.7);
}

.workspace-graph .workspace:active .windows {
    -active-window-background: $white;
    -active-window-border: alpha($black, 0.9);
    -inactive-window-background: rgba(140, 140, 140, 1.0);
    -inactive-window-border: alpha($black, 0.7);
}

/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
    background-image: url("control-assets/overview.png");
}

#overview-corner:hover {
    background-image: url("control-assets/overview-hover.png");
}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/

.workspace-osd {
    border-radius: 6px;
    padding: 12px 16px;
    background-color: alpha($black, 0.5);
    border: 1px solid alpha($white, 0.25);
    font-size: 20pt;
    font-weight: bold;
    color: $white;
}

.expo-workspaces-name-entry {
    background-color: alpha($black, 0.5);
    border: 1px solid alpha($white, 0.25);
    border-top-width: 0;
    border-radius: 6px;
    color: $white;
    padding: 6px 8px;
    height: 16px;
}

.expo-workspaces-name-entry#selected {
}

.expo-workspaces-name-entry:focus {
    selection-background-color: black;
    selected-color: $white;
    color: $white;
    background-color: alpha($black, 0.3);
    caret-size: 1px;
    box-shadow: inset 0px 1px 2px 0px alpha($black, 0.5);
}

.lightbox {
    background-color: alpha($black, 0.4);
}

.flashspot {
    background-color: $white;
}
