/**********
 ! Applets
 **********/

.applet-box {
    padding-left: $spacing;
    padding-right: $spacing;
    font-weight: bold;
    color: $white;
    border: 1px solid alpha($white, 0);
    border-top: 0;
    border-bottom: 0;
    transition-duration: 200;

    &:hover {
        border: 1px solid alpha($white, .4);
        border-top: 0;
        border-bottom: 0;
        background-gradient-direction: vertical;
        background-gradient-end: alpha($white, .3);
        background-gradient-start: alpha($white, .2);
    }
}

.applet-label {
    color: $white;
    text-align: center;
}

.applet-icon {
    color: $white;
}
