/**********
 ! Applets
 **********/

.applet-box {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    color: $white;
    border: 1px solid alpha($white, 0);
    border-top: 0px;
    border-bottom: 0px;
    transition-duration: 200;

    &:hover {
        border: 1px solid alpha($white, 0.4);
        background-gradient-direction: vertical;
        background-gradient-end: alpha($white, 0.3);
        background-gradient-start: alpha($white, 0.2);
    }
}

.applet-label {
    color: $white;
    text-align: center;
}

.applet-icon {
    color: $white;
}
