/**************
 ! Date applet
 **************/

.datemenu-date-label {
    padding: .7em 1.3em .4em 1.3em;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    color: $dark_fg_color;
}

.calendar {
    padding: .4em 1.8em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    padding-top: 2px;
    font-size: 9pt;
    font-weight: bold;
    color: $fg_color;
}

.calendar-change-month-back,
.calendar-change-month-forward:rtl {
    background-image: url("control-assets/calendar-arrow-left.svg");
    background-size: 16px;
    @include size(16px);

    &:hover {
        background-image: url("control-assets/calendar-arrow-left-hover.svg");
    }
}

.calendar-change-month-forward,
.calendar-change-month-back:rtl {
    background-image: url("control-assets/calendar-arrow-right.svg");
    background-size: 16px;
    @include size(16px);

    &:hover {
        background-image: url("control-assets/calendar-arrow-right-hover.svg");
    }
}

.calendar-day {/* ! */}


.calendar-day-top {/* ! */}


.calendar-day-left {/* ! */}

.calendar-day-base {
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    @include size(2.3em, 2.5em);
}

.calendar-day-heading {
    color: $dark_fg_color;
    padding: 1em;
    height: 1em;
}

.calendar-work-day {
    border-image: url("misc-assets/calendar-work-day.svg") 6;
    border: none;
    color: $dark_fg_color;
}

.calendar-nonwork-day {
    border-image: url("misc-assets/calendar-nonwork-day.svg") 6;
    border: none;
    color: $dark_fg_color;
}

.calendar-today {
    border-image: url("misc-assets/calendar-today.svg") 6;
    color: $dark_fg_color;
    font-weight: bold;
}

.calendar-other-month-day {
    border-image: url("misc-assets/calendar-other-month-day.svg") 6;
    color: $fg_color;
    font-weight: normal;
}

.calendar-week-number {
    color: $dark_fg_color;
    font-size: 9pt;
    font-weight: normal;
    @include size(1.2em, 1.6em);
    padding-top: .4em;
    padding-right: .4em;
}
