/****************
 ! Looking Glass
 ****************/

#LookingGlassDialog
{
    background-color: $dark_bg_color;
    border-radius: 2px;
    border: 1px solid $border_color;
    transition-duration: 300;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: $dark_fg_color;
}
