/*******
 ! Menu
 *******/

/* Main menu title */
.menu-favorites-box {  
    background-gradient-direction: vertical;
    background-gradient-start: $transparent;
    background-gradient-end: alpha($black, .15);
    border: 1px solid alpha($white, .1);
    width: 70%;
    margin: auto;
    padding: 0;
    border-radius: 0;
}

.menu-favorites-button {
    padding: $spacing * 2;
    border-radius: 0;

    &:hover {
        background-color: $selected_bg_color;
        box-shadow: inset 0 0 1px 1px boxshadow_normal($selected_bg_color);
        border-radius: 0;
    }
}

.menu-places-box {  
    margin: auto;
    padding: 8px;
    border: 0 solid $border_color;  
}

.menu-places-button {
    padding: $spacing * 2;
}

.menu-applications-box {
    padding: $spacing * 2;
    padding-bottom: 0;
}

.menu-application-button {
    padding: 7px;
    max-width: 10px;

    &:highlighted { }

    &-label:ltr { padding-left: $spacing; }

    &-label:rtl { padding-right: $spacing; }

    &-selected {
        padding: 7px;
        color: $dark_fg_color;
        background-color: $selected_bg_color;
        box-shadow: inset 0 0 1px 1px boxshadow_normal($selected_bg_color);
        border-radius: 0;

        &:highlighted {
            border-image: none;
            color: $dark_fg_color;
            background-color: $selected_bg_color;
            box-shadow: inset 0 0 1px 1px boxshadow_normal($selected_bg_color);
            border-radius: 0;
        }
    }
}

.menu-categories-box {
    padding: 10px 30px;
}

.menu-category-button {
    padding: 7px;

    &-button:hover { }

    &-greyed {
        padding: 7px;
        color: shade($fg_color, 1.6);
        font-style: normal;
    }

    &-selected {
        padding: 7px;
        color: $dark_fg_color;
        background-color: $selected_bg_color;
        box-shadow: inset 0 0 1 1 boxshadow_normal($selected_bg_color);
        border-radius: 0;
    }

    &-label:ltr { padding-left: $spacing; }

    &-label:rtl { padding-right: $spacing; }
}

/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu */
.menu-selected-app-box {
    padding-right: 30px;
    padding-left: 30px;
    text-align: right;
}

.menu-selected-app-title {
    font-weight: bold;
}

.menu-selected-app-description {
    max-width: 150px;
}

.menu-search-box {
   padding-left: 30px;
}

.menu-search-entry-icon {
    icon-size: 1em;
}

// Context menu (at the moment only for favorites)
.menu-context-menu { }
