/****************
 ! Notifications
 ****************/

.url-highlighter {
    link-color: $link_color;
}

#notification {
    font-size: 10pt;
    border-radius: 1px;
    box-shadow: inset 0px 1px 3px 0px alpha($black, 0.3);
    background-gradient-direction: vertical;
    background-gradient-start: alpha($black, 0.72);
    background-gradient-end: alpha($black, 0.85);
    padding: 8px 8px 8px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    margin-from-right-edge-of-screen: 20px;    
    width: 34em;
    color: $dark_fg_color;

    CinnamonGenericContainer * {
        font-weight: normal;
        font-size: 9pt;
        color: $info_fg_color;

        &:first-child {
            font-weight: bold;
            font-size: 10pt;
            padding: .2em 0;
            color: $dark_fg_color;
        }

        &:last-child {
            padding: .3em 0;
            color: $dark_fg_color;
        }
    }

    &-body {
        spacing: 5px;
    }

    &-actions {
        spacing: 10px;
    }

    &.multi-line-notification {
        padding-bottom: 8px;
        color: $dark_fg_color;
    }

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
    // min-height hack to prevent image stretching
    &.notification-with-image {
        min-height: 159px;

        .popup-menu-content & {
            min-height: 170px;
        }

        #notification-body {
            padding: 0;
        }
    }

    StButton {
        &:hover, &:active {
            color: $selected_bg_color;
        }
    }
}

.notification-button {
    height: 22px;
    font-size: 10pt;
    padding: 5px 31px 5px;

    &:focus {
        color: $selected_bg_color;
    }
}

.notification-icon-button {
    width: 22px;
    height: 22px;
    border-radius: 2px;
    padding: 5px;

    &:focus {
        padding: 5px;
    }

    > StIcon {
        icon-size: 16px;
    }
}

/***********************
 ! Notifications applet
 ***********************/
.notification-applet-padding {
    padding: .5em 1em;
}

.notification-applet-container {
    max-height: 100px;
}

/* Notifs look inside the notification applet & other popups. */
.popup-menu-content {
    #notification {
        border-image: url("background-assets/dark-bg-marked-orange.svg") 7;
        padding: .8em .8em .6em 1em;

        &.multi-line-notification {
            border-image: url("background-assets/dark-bg-marked-blue.svg") 7;
        }

        &.notification-with-image {
            border-image: url("background-assets/dark-bg-marked-green.svg") 7;
            padding-bottom: .8em;
        }
    }
}
