/****************************
 ! Workspace Switcher applet
 ****************************/

/* Controls the styling when using the "Simple buttons" option */
.workspace-switcher {
    spacing: 1px;
    padding: 0 1px 0 1px;
}

.workspace-button {
    width: 24px;
    font-weight: bold;

    &:hover {
        border-image: url("panel-assets/panel-top-item-hover.svg") 4;
    }

    &:outlined {
        border-image: url("panel-assets/panel-top-item.svg") 4;
    }
}

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
    padding: 0px;
    spacing: 1px;
}

/* Different images/paddings used in top & bottom panels. */
@each $v in panel-top, panel-bottom {
    .#{$v} .workspace {
        border-image: url("panel-assets/#{$v}-item-hover.svg") 4;
        padding: if($v == panel-top, 0 0 3px 0, 1px 0 3px 0);

        .windows {
            -inactive-window-background: rgba(120, 120, 120, .9);
            -inactive-window-border: rgba(0, 0, 0, .7);
        }
    }

    .#{$v} .workspace:active {
        border-image: url("panel-assets/#{$v}-item.svg") 4;

        .windows {
            -active-window-background: rgba(210, 210 , 210, .9);
            -active-window-border: rgba(0, 0, 0, .85);
            -inactive-window-background: rgba(150, 150, 150, .9);
            -inactive-window-border: rgba(0, 0, 0, .85);
        }
    }
}

