@import "functions";
@import "global";
@import "colors";


@import "widgets/base";
@import "widgets/button";
@import "widgets/entry";
@import "widgets/actionbar";
@import "widgets/calendar";
@import "widgets/choosers";
@import "widgets/grid";
@import "widgets/infobar";
@import "widgets/menu";
@import "widgets/misc";
@import "widgets/notebook";
@import "widgets/osd";
@import "widgets/overshoot";
@import "widgets/progress";
@import "widgets/scrollbar";
@import "widgets/sidebar";
@import "widgets/spinner";
@import "widgets/toggle";
@import "widgets/toolbar";
@import "widgets/view";
@import "widgets/window";

@import "apps/cinnamon-applications";
@import "apps/unity-greeter";
@import "apps/gedit";
@import "apps/nautilus";
@import "apps/nemo";
@import "apps/panel";
@import "apps/synaptic";
@import "apps/xfce";
@import "apps/unity";
@import "apps/lightdm";
@import "apps/gnome-terminal";
@import "apps/rhythmbox";

/*******************
 ! Selected Items  *
********************/

@include exports("selected_items") { /* Megax fix. */ // Idegesítő bug, az összes meghívás végén kell lennie.
    %selected_items {
        background-color: $selected_bg_color;

        @at-root %nobg_selected_items, & {
            color: $selected_fg_color;

            @if $variant == 'light' { outline-color: transparentize($selected_fg_color, .7); }

            &:disabled { color: mix($selected_fg_color, $selected_bg_color, .5); }

            &:backdrop {
                color: $backdrop_selected_fg_color;

                &:disabled { color: mix($backdrop_selected_fg_color, $selected_bg_color, .3); }
            }
        }
    }
}
