/* default color scheme */
/* dark colors */
/* shadows */
/* misc colors used by gtk+ */
/* widget styles */
/* dark color scheme */
@define-color dark_bg_color #2d2d2d;
@define-color dark_fg_color #dcdcdc;
/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color #dedede;
@define-color theme_fg_color #555555;
@define-color theme_base_color #f2f1f0;
@define-color theme_text_color #333333;
@define-color theme_selected_bg_color #d64937;
@define-color theme_selected_fg_color #f9f9f9;
@define-color theme_tooltip_bg_color #2d2d2d;
@define-color theme_tooltip_fg_color #dcdcdc;
/* shadow effects */
@define-color light_shadow #fff;
@define-color dark_shadow #000;
/* misc colors used by gtk+ */
@define-color info_fg_color #3986ac;
@define-color info_bg_color #d9edf7;
@define-color warning_fg_color #c09853;
@define-color warning_bg_color #fcf8e3;
@define-color question_fg_color #d64937;
@define-color question_bg_color #fce5d5;
@define-color error_fg_color #b94a48;
@define-color error_bg_color #f2dede;
@define-color link_color #fc6f5d;
@define-color success_color #53a93f;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
/* widget colors */
@define-color titlebar_bg_color @dark_bg_color;
@define-color titlebar_fg_color @dark_fg_color;
@define-color menubar_bg_color @dark_bg_color;
@define-color menubar_fg_color @dark_fg_color;
@define-color toolbar_bg_color @theme_bg_color;
@define-color toolbar_fg_color @theme_fg_color;
@define-color menu_bg_color @dark_bg_color;
@define-color menu_fg_color @dark_fg_color;
@define-color panel_bg_color @dark_bg_color;
@define-color panel_fg_color @dark_fg_color;
/* osd */
@define-color osd_base @dark_bg_color;
@define-color osd_fg @dark_fg_color;
@define-color osd_bg alpha(@osd_base, 0.8);
/* lightdm greeter colors */
@define-color lightdm_bg_color @dark_bg_color;
@define-color lightdm_fg_color @dark_fg_color;
/* window manager colors */
@define-color wm_bg @titlebar_bg_color;
@define-color wm_border_focused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);
@define-color wm_border_unfocused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.12);
@define-color wm_title_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_title_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_icons_focused_prelight @selected_bg_color;
@define-color wm_icons_focused_pressed shade(@selected_bg_color, 0.8);
@define-color wm_icons_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_unfocused_prelight @selected_bg_color;
@define-color wm_icons_unfocused_pressed shade(@selected_bg_color, 0.8);
/* default color scheme */
/* dark colors */
/* shadows */
/* misc colors used by gtk+ */
/* widget styles */
/* default color scheme */
/* dark colors */
/* shadows */
/* misc colors used by gtk+ */
/* widget styles */
* {
  -GtkArrow-arrow-scaling: 0.5;
  -GtkButton-child-displacement-x: 0;
  -GtkButton-child-displacement-y: 0;
  -GtkButton-default-border: 0;
  -GtkButton-image-spacing: 0;
  -GtkButton-inner-border: 1;
  -GtkButton-interior-focus: true;
  -GtkButtonBox-child-min-height: 24;
  -GtkButtonBox-child-internal-pad-y: 1;
  -GtkCheckButton-indicator-size: 16;
  -GtkCheckMenuItem-indicator-size: 14;
  -GtkExpander-expander-size: 8;
  -GtkMenu-horizontal-padding: 0;
  -GtkMenu-vertical-padding: 0;
  -GtkPaned-handle-size: 4;
  -GtkProgressBar-min-horizontal-bar-height: 12;
  -GtkProgressBar-min-vertical-bar-width: 12;
  -GtkRange-slider-width: 12;
  -GtkRange-stepper-spacing: 0;
  -GtkRange-trough-border: 0;
  -GtkRange-trough-under-steppers: 1;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkScrollbar-min-slider-length: 80;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkScrolledWindow-scrollbars-within-bevel: 1;
  -GtkStatusbar-shadow-type: none;
  -GtkTextView-error-underline-color: #cc0000;
  -GtkToolButton-icon-spacing: 6;
  -GtkToolItemGroup-expander-size: 8;
  -GtkTreeView-expander-size: 8;
  -GtkWindow-resize-grip-height: 0;
  -GtkWindow-resize-grip-width: 0;
  -WnckTasklist-fade-overlay-rect: 0;
  /* legacy stuff */
  -GtkWidget-focus-line-width: 1;
  -GtkWidget-focus-padding: 0;
  outline-color: rgba(214, 73, 55, 0.5);
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: -2px;
  outline-radius: 2px; }

/***************
 * base states *
 ***************/
*:selected, .gtkstyle-fallback:selected, GtkLabel:selected, .view:selected, GtkFlowBox .grid-child:selected, :focus:selected, GtkFlowBox .grid-child:focus:selected {
  background-color: #d64937;
  color: #f9f9f9; }

* {
  /* hyperlinks */
  -GtkHTML-link-color: #fc6f5d;
  -GtkIMHtml-hyperlink-color: #fc6f5d;
  -GtkWidget-link-color: #fc6f5d;
  -GtkWidget-visited-link-color: #fc6f5d; }
  *:insensitive, *:insensitive:insensitive {
    color: mix(#555555,#dedede,50%); }
  *:insensitive {
    -gtk-image-effect: dim; }
  *:hover {
    -gtk-image-effect: highlight; }
  *:link, *:visited {
    color: #fc6f5d; }

.background {
  background-color: #dedede;
  color: #555555; }
  .background:backdrop {
    text-shadow: none;
    icon-shadow: none; }

.gtkstyle-fallback {
  background-color: #dedede;
  color: #555555; }
  .gtkstyle-fallback:prelight {
    background-color: shade(#dedede,1.1);
    color: #555555; }
  .gtkstyle-fallback:active {
    background-color: shade(#dedede,0.9);
    color: #555555; }
  .gtkstyle-fallback:insensitive {
    background-color: shade(shade(#dedede,0.95),1.05);
    color: mix(#555555,#dedede,50%); }

GtkImage, GtkImage:insensitive, GtkLabel, GtkLabel:insensitive, GtkBox, GtkBox:insensitive, GtkGrid, GtkGrid:insensitive {
  background-color: transparent; }

GtkLabel.separator {
  color: #555555; }
GtkLabel:insensitive {
  color: mix(#555555,#dedede,50%); }

.dim-label, GtkLabel.separator {
  opacity: 0.5;
  text-shadow: none; }

.view {
  color: #333333;
  background-color: #f2f1f0; }

.rubberband {
  border: 1px solid #d64937;
  background-color: rgba(214, 73, 55, 0.2); }

/* used by GtkScrolledWindow, shown when content is touch-dragged past boundaries. */
.overshoot {
  background-color: rgba(214, 73, 55, 0.2); }

GtkAssistant .sidebar {
  background-color: #f2f1f0;
  border-top: 1px solid shade(#f2f1f0,0.7); }
  GtkAssistant .sidebar:dir(ltr) {
    border-right: 1px solid shade(#f2f1f0,0.7); }
  GtkAssistant .sidebar:dir(rtl) {
    border-left: 1px solid shade(#f2f1f0,0.7); }
  GtkAssistant .sidebar GtkLabel {
    padding: 5px 10px; }
    GtkAssistant .sidebar GtkLabel.highlight {
      background-color: mix(#dedede,#555555,80%); }
GtkAssistant.csd .sidebar {
  border-top-style: none; }

GtkTextView {
  /* this will get overridden by .view, needed by gedit line numbers */
  background-color: mix(#dedede,#f2f1f0,50%); }

GtkFlowBox .grid-child {
  padding: 3px;
  border-radius: 3px; }
  GtkFlowBox .grid-child:selected {
    outline-offset: -2px; }

/*********************
 * spinner animation *
 *********************/
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }
.spinner {
  background-image: none;
  background-color: blue;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }
  .spinner:active {
    opacity: 1;
    animation: spin 1s linear infinite; }
    .spinner:active:insensitive {
      opacity: 0.5; }

/* default color scheme */
/* dark colors */
/* shadows */
/* misc colors used by gtk+ */
/* widget styles */
.button {
  background-color: shade(#dedede,1.05);
  background-image: linear-gradient(to bottom, shade(shade(#dedede,1.05),1), shade(shade(#dedede,1.05),1));
  border-color: shade(shade(#dedede,1.05),0.7);
  padding: 4px 6px;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  color: #555555;
  transition: 100ms ease;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.3);
  -GtkWidget-focus-padding: 1;
  -GtkWidget-focus-line-width: 0; }
  .button:focus, .button:hover {
    border-color: shade(shade(#dedede,1.05),0.65); }
  .button:active, .button:active:hover, .button:active:focus, .button:active:hover:focus {
    border-color: shade(shade(#dedede,1.05),0.6); }
  .button:insensitive {
    border-color: shade(shade(#dedede,1.05),0.8); }
  .button:active *:insensitive {
    border-color: shade(shade(#dedede,1.05),0.7); }
  .button:focus, .button:hover {
    background-color: shade(#dedede,1.1);
    background-image: linear-gradient(to bottom, shade(shade(#dedede,1.1),1), shade(shade(#dedede,1.1),1));
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5); }
  .button:active {
    background-color: shade(#dedede,0.95);
    background-image: linear-gradient(to bottom, shade(shade(#dedede,0.95),1), shade(shade(#dedede,0.95),1));
    box-shadow: inset 1px 0 rgba(0, 0, 0, 0.07), inset 0 1px rgba(0, 0, 0, 0.08), inset -1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px rgba(0, 0, 0, 0.05); }
  .button:insensitive {
    background-color: shade(#dedede,0.95);
    background-image: linear-gradient(to bottom, shade(shade(#dedede,0.95),1), shade(shade(#dedede,0.95),1));
    color: mix(#dedede,#555555,0.5);
    box-shadow: none; }
  .button:active *:insensitive {
    background-color: shade(#dedede,0.8);
    background-image: linear-gradient(to bottom, shade(shade(#dedede,0.8),1), shade(shade(#dedede,0.8),1));
    box-shadow: none; }
  .button.separator, .button .separator {
    color: shade(#dedede,0.95);
    border: 1px solid currentColor; }
    .button.separator:insensitive, .button .separator:insensitive {
      color: shade(#dedede,0.85); }
  .button.default {
    background-color: shade(#d64937,1.05);
    background-image: linear-gradient(to bottom, shade(shade(#d64937,1.05),1), shade(shade(#d64937,1.05),1));
    border-color: shade(shade(#d64937,1.05),0.7);
    padding: 4px 6px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    color: #f9f9f9;
    transition: 100ms ease;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.3);
    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0; }
    .button.default:focus, .button.default:hover {
      border-color: shade(shade(#d64937,1.05),0.65); }
    .button.default:active, .button.default:active:hover, .button.default:active:focus, .button.default:active:hover:focus {
      border-color: shade(shade(#d64937,1.05),0.6); }
    .button.default:insensitive {
      border-color: shade(shade(#d64937,1.05),0.8); }
    .button.default:active *:insensitive {
      border-color: shade(shade(#d64937,1.05),0.7); }
    .button.default:focus, .button.default:hover {
      background-color: shade(#d64937,1.1);
      background-image: linear-gradient(to bottom, shade(shade(#d64937,1.1),1), shade(shade(#d64937,1.1),1));
      box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5); }
    .button.default:active {
      background-color: shade(#d64937,0.95);
      background-image: linear-gradient(to bottom, shade(shade(#d64937,0.95),1), shade(shade(#d64937,0.95),1));
      box-shadow: inset 1px 0 rgba(0, 0, 0, 0.07), inset 0 1px rgba(0, 0, 0, 0.08), inset -1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px rgba(0, 0, 0, 0.05); }
    .button.default:insensitive {
      background-color: shade(#d64937,0.95);
      background-image: linear-gradient(to bottom, shade(shade(#d64937,0.95),1), shade(shade(#d64937,0.95),1));
      color: mix(#d64937,#f9f9f9,0.5);
      box-shadow: none; }
    .button.default:active *:insensitive {
      background-color: shade(#d64937,0.8);
      background-image: linear-gradient(to bottom, shade(shade(#d64937,0.8),1), shade(shade(#d64937,0.8),1));
      box-shadow: none; }
    .button.default.separator, .button.default .separator {
      color: shade(#d64937,0.95);
      border: 1px solid currentColor; }
      .button.default.separator:insensitive, .button.default .separator:insensitive {
        color: shade(#d64937,0.85); }

/* default color scheme */
/* dark colors */
/* shadows */
/* misc colors used by gtk+ */
/* widget styles */
.entry {
  background-color: #f2f1f0;
  background-image: linear-gradient(to bottom, shade(#f2f1f0,1), shade(#f2f1f0,1));
  border-color: shade(shade(#f2f1f0,0.9),0.7);
  padding: 4px 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  transition: border 100ms ease;
  box-shadow: inset 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px rgba(0, 0, 0, 0.12), inset -1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.05), 0 1px 2px -1px shade(#dedede,1.4); }
  .entry:focus, .entry:hover {
    border-color: shade(shade(#f2f1f0,0.9),0.65); }
  .entry:active, .entry:active:hover, .entry:active:focus, .entry:active:hover:focus {
    border-color: shade(shade(#f2f1f0,0.9),0.6); }
  .entry:insensitive {
    border-color: shade(shade(#f2f1f0,0.9),0.8); }
  .entry:active *:insensitive {
    border-color: shade(shade(#f2f1f0,0.9),0.7); }
  .entry:selected, .entry:selected:focus {
    background-color: #d64937;
    color: #f9f9f9; }
  .entry:insensitive {
    background-color: shade(#f2f1f0,0.9);
    background-image: linear-gradient(to bottom, shade(shade(#f2f1f0,0.9),1), shade(shade(#f2f1f0,0.9),1));
    color: mix(#f2f1f0,#333333,0.5);
    box-shadow: none; }
  .entry.progressbar {
    background-color: #d64937;
    background-image: linear-gradient(to bottom, shade(#d64937,1), shade(#d64937,1));
    border-width: 0;
    border-radius: 2px;
    color: #f9f9f9; }
  .entry.image.left {
    padding-right: 5px; }

/* default color scheme */
/* dark colors */
/* shadows */
/* misc colors used by gtk+ */
/* widget styles */
/* default color scheme */
/* dark colors */
/* shadows */
/* misc colors used by gtk+ */
/* widget styles */
.entry {
  background-color: #f2f1f0;
  background-image: linear-gradient(to bottom, shade(#f2f1f0,1), shade(#f2f1f0,1));
  border-color: shade(shade(#f2f1f0,0.9),0.7);
  padding: 4px 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  transition: border 100ms ease;
  box-shadow: inset 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px rgba(0, 0, 0, 0.12), inset -1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.05), 0 1px 2px -1px shade(#dedede,1.4); }
  .entry:focus, .entry:hover {
    border-color: shade(shade(#f2f1f0,0.9),0.65); }
  .entry:active, .entry:active:hover, .entry:active:focus, .entry:active:hover:focus {
    border-color: shade(shade(#f2f1f0,0.9),0.6); }
  .entry:insensitive {
    border-color: shade(shade(#f2f1f0,0.9),0.8); }
  .entry:active *:insensitive {
    border-color: shade(shade(#f2f1f0,0.9),0.7); }
  .entry:selected, .entry:selected:focus {
    background-color: #d64937;
    color: #f9f9f9; }
  .entry:insensitive {
    background-color: shade(#f2f1f0,0.9);
    background-image: linear-gradient(to bottom, shade(shade(#f2f1f0,0.9),1), shade(shade(#f2f1f0,0.9),1));
    color: mix(#f2f1f0,#333333,0.5);
    box-shadow: none; }
  .entry.progressbar {
    background-color: #d64937;
    background-image: linear-gradient(to bottom, shade(#d64937,1), shade(#d64937,1));
    border-width: 0;
    border-radius: 2px;
    color: #f9f9f9; }
  .entry.image.left {
    padding-right: 5px; }

GtkTreeMenu.menu, GtkTreeMenu .menu, GtkMenuToolButton.menu, GtkMenuToolButton .menu, GtkComboBox.menu, GtkComboBox .menu {
  background-color: #2d2d2d;
  margin: 5px; }

#toolbar-popup, .menu {
  padding: 0;
  border-radius: 0;
  border-style: none;
  background-color: #2d2d2d;
  color: #dcdcdc; }
  #toolbar-popup:selected, .menu:selected {
    background-color: #d64937; }
  #toolbar-popup .button, #toolbar-popup .button:hover, #toolbar-popup .button:active, #toolbar-popup .button:active *:insensitive, #toolbar-popup .button:insensitive, .menu .button, .menu .button:hover, .menu .button:active, .menu .button:active *:insensitive, .menu .button:insensitive {
    border-width: 0;
    background-color: transparent;
    background-image: none; }

.context-menu {
  font: initial; }

GtkTreeMenu .menuitem {
  padding: 0;
  border-width: 0; }
.menuitem, .menu .menuitem {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
  -GtkMenuItem-arrow-scaling: 0.5; }
  .menuitem:active, .menuitem:hover, .menu .menuitem:active, .menu .menuitem:hover {
    border-color: shade(#d64937,0.9);
    background-color: #d64937;
    background-image: none;
    color: #f9f9f9; }
  .menuitem *:active, .menuitem *:hover, .menu .menuitem *:active, .menu .menuitem *:hover {
    color: #f9f9f9; }
  .menuitem:insensitive, .menuitem *:insensitive, .menu .menuitem:insensitive, .menu .menuitem *:insensitive {
    color: mix(#dcdcdc,#2d2d2d,0.5); }
.menuitem.check, .menuitem.check:focus, .menuitem.check:hover, .menuitem.check:insensitive, .menuitem.radio, .menuitem.radio:focus, .menuitem.radio:hover, .menuitem.radio:insensitive {
  background-image: none; }
.menuitem.check, .menuitem.check:focus, .menuitem.check:hover, .menuitem.check:active, .menuitem.check:insensitive, .menuitem.radio, .menuitem.radio:focus, .menuitem.radio:hover, .menuitem.radio:active, .menuitem.radio:insensitive {
  border-style: none;
  background-color: transparent; }
.menuitem.separator {
  -GtkMenuItem-horizontal-padding: 0;
  -GtkWidget-separator-height: 1;
  border-style: none;
  color: shade(#2d2d2d,0.9); }
.menuitem.button, .menuitem.button:active, .menuitem.button:insensitive, .menuitem.button:active:insensitive {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border-style: none;
  box-shadow: none;
  color: currentColor; }
.menuitem.button:hover, .menuitem.button:active:hover, .menuitem.button:selected {
  background-color: #d64937;
  background-image: none;
  color: #f9f9f9; }
.menuitem GtkCalendar:inconsistent {
  color: mix(#dcdcdc,#2d2d2d,0.5); }
.menuitem GtkCalendar .button {
  border-style: none;
  background-color: transparent;
  background-image: none; }
.menuitem .accelerator {
  color: rgba(220, 220, 220, 0.6); }
  .menuitem .accelerator:hover {
    color: rgba(249, 249, 249, 0.8); }
  .menuitem .accelerator:insensitive {
    color: alpha(mix(#dcdcdc,#2d2d2d,0.5),0.4); }
.menuitem .entry {
  background-color: #2d2d2d;
  background-image: linear-gradient(to bottom, shade(#2d2d2d,1), shade(#2d2d2d,1));
  border-color: shade(shade(#2d2d2d,0.9),0.7);
  padding: 4px 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  transition: border 100ms ease;
  box-shadow: inset 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px rgba(0, 0, 0, 0.12), inset -1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.05), 0 1px 2px -1px shade(#dedede,1.4); }
  .menuitem .entry:focus, .menuitem .entry:hover {
    border-color: shade(shade(#2d2d2d,0.9),0.65); }
  .menuitem .entry:active, .menuitem .entry:active:hover, .menuitem .entry:active:focus, .menuitem .entry:active:hover:focus {
    border-color: shade(shade(#2d2d2d,0.9),0.6); }
  .menuitem .entry:insensitive {
    border-color: shade(shade(#2d2d2d,0.9),0.8); }
  .menuitem .entry:active *:insensitive {
    border-color: shade(shade(#2d2d2d,0.9),0.7); }
  .menuitem .entry:selected, .menuitem .entry:selected:focus {
    background-color: #d64937;
    color: #f9f9f9; }
  .menuitem .entry:insensitive {
    background-color: shade(#2d2d2d,0.9);
    background-image: linear-gradient(to bottom, shade(shade(#2d2d2d,0.9),1), shade(shade(#2d2d2d,0.9),1));
    color: mix(#2d2d2d,#dcdcdc,0.5);
    box-shadow: none; }
  .menuitem .entry.progressbar {
    background-color: #d64937;
    background-image: linear-gradient(to bottom, shade(#d64937,1), shade(#d64937,1));
    border-width: 0;
    border-radius: 2px;
    color: #f9f9f9; }
  .menuitem .entry.image.left {
    padding-right: 5px; }

GtkModelMenuItem GtkBox GtkImage {
  padding-right: 5px; }

GtkPopover {
  border-color: shade(#2d2d2d,0.7);
  margin: 10px;
  padding: 5px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  background-clip: border-box;
  background-color: #2d2d2d;
  color: #dcdcdc;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
  GtkPopover:focus, GtkPopover:hover {
    border-color: shade(#2d2d2d,0.65); }
  GtkPopover:active, GtkPopover:active:hover, GtkPopover:active:focus, GtkPopover:active:hover:focus {
    border-color: shade(#2d2d2d,0.6); }
  GtkPopover:insensitive {
    border-color: shade(#2d2d2d,0.8); }
  GtkPopover:active *:insensitive {
    border-color: shade(#2d2d2d,0.7); }
  GtkPopover:backdrop {
    box-shadow: none; }
  GtkPopover.osd {
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.5); }
    GtkPopover.osd > .toolbar .button {
      border-radius: 0;
      border-width: 0;
      background-image: none;
      background-color: transparent; }
  GtkPopover > .list, GtkPopover > .view, GtkPopover > .toolbar {
    background-color: transparent; }
  GtkPopover .separator {
    border: 0;
    background-color: transparent;
    color: rgba(45, 45, 45, 0.5);
    font-size: 80%;
    font-weight: bold; }

/* default color scheme */
/* dark colors */
/* shadows */
/* misc colors used by gtk+ */
/* widget styles */
/* default color scheme */
/* dark colors */
/* shadows */
/* misc colors used by gtk+ */
/* widget styles */
.button {
  background-color: shade(#dedede,1.05);
  background-image: linear-gradient(to bottom, shade(shade(#dedede,1.05),1), shade(shade(#dedede,1.05),1));
  border-color: shade(shade(#dedede,1.05),0.7);
  padding: 4px 6px;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  color: #555555;
  transition: 100ms ease;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.3);
  -GtkWidget-focus-padding: 1;
  -GtkWidget-focus-line-width: 0; }
  .button:focus, .button:hover {
    border-color: shade(shade(#dedede,1.05),0.65); }
  .button:active, .button:active:hover, .button:active:focus, .button:active:hover:focus {
    border-color: shade(shade(#dedede,1.05),0.6); }
  .button:insensitive {
    border-color: shade(shade(#dedede,1.05),0.8); }
  .button:active *:insensitive {
    border-color: shade(shade(#dedede,1.05),0.7); }
  .button:focus, .button:hover {
    background-color: shade(#dedede,1.1);
    background-image: linear-gradient(to bottom, shade(shade(#dedede,1.1),1), shade(shade(#dedede,1.1),1));
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5); }
  .button:active {
    background-color: shade(#dedede,0.95);
    background-image: linear-gradient(to bottom, shade(shade(#dedede,0.95),1), shade(shade(#dedede,0.95),1));
    box-shadow: inset 1px 0 rgba(0, 0, 0, 0.07), inset 0 1px rgba(0, 0, 0, 0.08), inset -1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px rgba(0, 0, 0, 0.05); }
  .button:insensitive {
    background-color: shade(#dedede,0.95);
    background-image: linear-gradient(to bottom, shade(shade(#dedede,0.95),1), shade(shade(#dedede,0.95),1));
    color: mix(#dedede,#555555,0.5);
    box-shadow: none; }
  .button:active *:insensitive {
    background-color: shade(#dedede,0.8);
    background-image: linear-gradient(to bottom, shade(shade(#dedede,0.8),1), shade(shade(#dedede,0.8),1));
    box-shadow: none; }
  .button.separator, .button .separator {
    color: shade(#dedede,0.95);
    border: 1px solid currentColor; }
    .button.separator:insensitive, .button .separator:insensitive {
      color: shade(#dedede,0.85); }
  .button.default {
    background-color: shade(#d64937,1.05);
    background-image: linear-gradient(to bottom, shade(shade(#d64937,1.05),1), shade(shade(#d64937,1.05),1));
    border-color: shade(shade(#d64937,1.05),0.7);
    padding: 4px 6px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    color: #f9f9f9;
    transition: 100ms ease;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.3);
    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0; }
    .button.default:focus, .button.default:hover {
      border-color: shade(shade(#d64937,1.05),0.65); }
    .button.default:active, .button.default:active:hover, .button.default:active:focus, .button.default:active:hover:focus {
      border-color: shade(shade(#d64937,1.05),0.6); }
    .button.default:insensitive {
      border-color: shade(shade(#d64937,1.05),0.8); }
    .button.default:active *:insensitive {
      border-color: shade(shade(#d64937,1.05),0.7); }
    .button.default:focus, .button.default:hover {
      background-color: shade(#d64937,1.1);
      background-image: linear-gradient(to bottom, shade(shade(#d64937,1.1),1), shade(shade(#d64937,1.1),1));
      box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5); }
    .button.default:active {
      background-color: shade(#d64937,0.95);
      background-image: linear-gradient(to bottom, shade(shade(#d64937,0.95),1), shade(shade(#d64937,0.95),1));
      box-shadow: inset 1px 0 rgba(0, 0, 0, 0.07), inset 0 1px rgba(0, 0, 0, 0.08), inset -1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px rgba(0, 0, 0, 0.05); }
    .button.default:insensitive {
      background-color: shade(#d64937,0.95);
      background-image: linear-gradient(to bottom, shade(shade(#d64937,0.95),1), shade(shade(#d64937,0.95),1));
      color: mix(#d64937,#f9f9f9,0.5);
      box-shadow: none; }
    .button.default:active *:insensitive {
      background-color: shade(#d64937,0.8);
      background-image: linear-gradient(to bottom, shade(shade(#d64937,0.8),1), shade(shade(#d64937,0.8),1));
      box-shadow: none; }
    .button.default.separator, .button.default .separator {
      color: shade(#d64937,0.95);
      border: 1px solid currentColor; }
      .button.default.separator:insensitive, .button.default .separator:insensitive {
        color: shade(#d64937,0.85); }

.toolbar {
  background-color: #dedede;
  background-image: linear-gradient(to bottom, shade(#dedede,1), shade(#dedede,1));
  border-color: shade(#dedede,0.7);
  padding: 5px;
  color: #555555;
  border-style: none; }
  .toolbar:focus, .toolbar:hover {
    border-color: shade(#dedede,0.65); }
  .toolbar:active, .toolbar:active:hover, .toolbar:active:focus, .toolbar:active:hover:focus {
    border-color: shade(#dedede,0.6); }
  .toolbar:insensitive {
    border-color: shade(#dedede,0.8); }
  .toolbar:active *:insensitive {
    border-color: shade(#dedede,0.7); }
  .toolbar:insensitive {
    background-color: #c5c5c5;
    background-image: linear-gradient(to bottom, shade(#c5c5c5,1), shade(#c5c5c5,1));
    color: mix(#555555,#dedede,0.5); }
  .toolbar .title {
    font: bold;
    padding: 0 12px; }
  .toolbar .subtitle {
    font: smaller;
    padding: 0 12px; }
  .toolbar .button {
    background-color: shade(#dedede,1.05);
    background-image: linear-gradient(to bottom, shade(shade(#dedede,1.05),1), shade(shade(#dedede,1.05),1));
    border-color: shade(shade(#dedede,1.05),0.7);
    padding: 4px 6px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    color: #555555;
    transition: 100ms ease;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.3);
    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0; }
    .toolbar .button:focus, .toolbar .button:hover {
      border-color: shade(shade(#dedede,1.05),0.65); }
    .toolbar .button:active, .toolbar .button:active:hover, .toolbar .button:active:focus, .toolbar .button:active:hover:focus {
      border-color: shade(shade(#dedede,1.05),0.6); }
    .toolbar .button:insensitive {
      border-color: shade(shade(#dedede,1.05),0.8); }
    .toolbar .button:active *:insensitive {
      border-color: shade(shade(#dedede,1.05),0.7); }
    .toolbar .button:focus, .toolbar .button:hover {
      background-color: shade(#dedede,1.1);
      background-image: linear-gradient(to bottom, shade(shade(#dedede,1.1),1), shade(shade(#dedede,1.1),1));
      box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5); }
    .toolbar .button:active {
      background-color: shade(#dedede,0.95);
      background-image: linear-gradient(to bottom, shade(shade(#dedede,0.95),1), shade(shade(#dedede,0.95),1));
      box-shadow: inset 1px 0 rgba(0, 0, 0, 0.07), inset 0 1px rgba(0, 0, 0, 0.08), inset -1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px rgba(0, 0, 0, 0.05); }
    .toolbar .button:insensitive {
      background-color: shade(#dedede,0.95);
      background-image: linear-gradient(to bottom, shade(shade(#dedede,0.95),1), shade(shade(#dedede,0.95),1));
      color: mix(#dedede,#555555,0.5);
      box-shadow: none; }
    .toolbar .button:active *:insensitive {
      background-color: shade(#dedede,0.8);
      background-image: linear-gradient(to bottom, shade(shade(#dedede,0.8),1), shade(shade(#dedede,0.8),1));
      box-shadow: none; }
    .toolbar .button.separator, .toolbar .button .separator {
      color: shade(#dedede,0.95);
      border: 1px solid currentColor; }
      .toolbar .button.separator:insensitive, .toolbar .button .separator:insensitive {
        color: shade(#dedede,0.85); }
  .toolbar GtkComboBox, .toolbar .button {
    padding: 2px; }
    .toolbar GtkComboBox.text-button, .toolbar .button.text-button {
      padding: 4px; }
    .toolbar GtkComboBox.image-button, .toolbar .button.image-button {
      padding: 5px 4px 4px 5px; }
  .toolbar GtkSeparatorToolItem, .toolbar .separator, .toolbar .separator:insensitive {
    color: shade(#dedede,0.7);
    border-color: currentColor;
    -GtkWidget-window-dragging: true; }
  .toolbar .menubar {
    -GtkToolbar-button-relief: normal; }

.header-bar {
  background-color: #2d2d2d;
  background-image: linear-gradient(to bottom, shade(#2d2d2d,1), shade(#2d2d2d,1));
  border-color: shade(#2d2d2d,0.7);
  padding: 5px;
  color: #dcdcdc;
  border-width: 0 0 1px 0;
  border-style: solid; }
  .header-bar:focus, .header-bar:hover {
    border-color: shade(#2d2d2d,0.65); }
  .header-bar:active, .header-bar:active:hover, .header-bar:active:focus, .header-bar:active:hover:focus {
    border-color: shade(#2d2d2d,0.6); }
  .header-bar:insensitive {
    border-color: shade(#2d2d2d,0.8); }
  .header-bar:active *:insensitive {
    border-color: shade(#2d2d2d,0.7); }
  .header-bar:insensitive {
    background-color: #141414;
    background-image: linear-gradient(to bottom, shade(#141414,1), shade(#141414,1));
    color: mix(#dcdcdc,#2d2d2d,0.5); }
  .header-bar .title {
    font: bold;
    padding: 0 12px; }
  .header-bar .subtitle {
    font: smaller;
    padding: 0 12px; }
  .header-bar .button {
    background-color: shade(#2d2d2d,1.05);
    background-image: linear-gradient(to bottom, shade(shade(#2d2d2d,1.05),1), shade(shade(#2d2d2d,1.05),1));
    border-color: shade(shade(#2d2d2d,1.05),0.7);
    padding: 4px 6px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    color: #dcdcdc;
    transition: 100ms ease;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.3);
    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0; }
    .header-bar .button:focus, .header-bar .button:hover {
      border-color: shade(shade(#2d2d2d,1.05),0.65); }
    .header-bar .button:active, .header-bar .button:active:hover, .header-bar .button:active:focus, .header-bar .button:active:hover:focus {
      border-color: shade(shade(#2d2d2d,1.05),0.6); }
    .header-bar .button:insensitive {
      border-color: shade(shade(#2d2d2d,1.05),0.8); }
    .header-bar .button:active *:insensitive {
      border-color: shade(shade(#2d2d2d,1.05),0.7); }
    .header-bar .button:focus, .header-bar .button:hover {
      background-color: shade(#2d2d2d,1.1);
      background-image: linear-gradient(to bottom, shade(shade(#2d2d2d,1.1),1), shade(shade(#2d2d2d,1.1),1));
      box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5); }
    .header-bar .button:active {
      background-color: shade(#2d2d2d,0.95);
      background-image: linear-gradient(to bottom, shade(shade(#2d2d2d,0.95),1), shade(shade(#2d2d2d,0.95),1));
      box-shadow: inset 1px 0 rgba(0, 0, 0, 0.07), inset 0 1px rgba(0, 0, 0, 0.08), inset -1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px rgba(0, 0, 0, 0.05); }
    .header-bar .button:insensitive {
      background-color: shade(#2d2d2d,0.95);
      background-image: linear-gradient(to bottom, shade(shade(#2d2d2d,0.95),1), shade(shade(#2d2d2d,0.95),1));
      color: mix(#2d2d2d,#dcdcdc,0.5);
      box-shadow: none; }
    .header-bar .button:active *:insensitive {
      background-color: shade(#2d2d2d,0.8);
      background-image: linear-gradient(to bottom, shade(shade(#2d2d2d,0.8),1), shade(shade(#2d2d2d,0.8),1));
      box-shadow: none; }
    .header-bar .button.separator, .header-bar .button .separator {
      color: shade(#2d2d2d,0.95);
      border: 1px solid currentColor; }
      .header-bar .button.separator:insensitive, .header-bar .button .separator:insensitive {
        color: shade(#2d2d2d,0.85); }
  .header-bar GtkComboBox, .header-bar .button {
    padding: 2px; }
    .header-bar GtkComboBox.text-button, .header-bar .button.text-button {
      padding: 4px; }
    .header-bar GtkComboBox.image-button, .header-bar .button.image-button {
      padding: 5px 4px 4px 5px; }
  .header-bar GtkSeparatorToolItem, .header-bar .separator, .header-bar .separator:insensitive {
    color: shade(#2d2d2d,0.7);
    border-color: currentColor;
    -GtkWidget-window-dragging: true; }
  .header-bar .menubar {
    -GtkToolbar-button-relief: normal; }

.titlebar {
  background-color: #2d2d2d;
  background-image: linear-gradient(to bottom, shade(#2d2d2d,1), shade(#2d2d2d,1));
  border-radius: 2px 2px 0 0;
  color: mix(#dcdcdc,#2d2d2d,0.1); }
  .titlebar:backdrop {
    background-color: #2d2d2d;
    background-image: linear-gradient(to bottom, shade(#2d2d2d,1), shade(#2d2d2d,1));
    color: mix(#dcdcdc,#2d2d2d,0.6);
    text-shadow: none; }
  .titlebar.default-decoration {
    border: none;
    box-shadow: none; }
  .tiled .titlebar, .maximized .titlebar {
    border-radius: 0; }
  .titlebar .title {
    font: bold; }
  .titlebar .titlebutton {
    padding: 5px;
    border: none;
    background: none;
    color: mix(#dcdcdc,#2d2d2d,90%); }
    .titlebar .titlebutton:hover, .titlebar .titlebutton:hover:focus {
      background: none;
      color: #d64937; }
    .titlebar .titlebutton:active, .titlebar .titlebutton:active:hover {
      background: none;
      color: #b53525;
      box-shadow: none; }
    .titlebar .titlebutton:backdrop {
      background-image: none;
      color: mix(#dcdcdc,#2d2d2d,60%);
      icon-shadow: none; }

.window-frame {
  border-style: none;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.7), 0 0 0 1px mix(shade(#2d2d2d,0.7),#dcdcdc,0.21);
  /* this is used for the resize cursor area */
  margin: 10px; }
  .window-frame:backdrop {
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px mix(shade(#2d2d2d,0.7),#dcdcdc,0.12); }
  .window-frame.tiled {
    border-radius: 0; }
  .window-frame.csd.popup {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8), 0 0 0 1px mix(shade(#2d2d2d,0.7),#dcdcdc,0.21); }
  .window-frame.csd.tooltip {
    border-radius: 2px;
    box-shadow: none; }
  .window-frame.csd.message-dialog {
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8), 0 0 0 1px mix(shade(#2d2d2d,0.7),#dcdcdc,0.21); }
