/**********
 ! Applets
 **********/

.applet-box {
    padding-left: $spacing - 2px;
    padding-right: $spacing - 2px;
    font-weight: bold;
    color: $white;
    border: 1px solid alpha($white, 0);
    border-top: 0;
    border-bottom: 0;
    transition-duration: 200;

    &:highlight {
        //background-color: #aa5555;
    }

    &.vertical {
        padding-left: 0;
        padding-right: 0;
        padding-top: $spacing - 2px;
        padding-bottom: $spacing - 2px;
    }
}

@each $v in panel-top, panel-bottom, panel-left, panel-right {
    .#{$v} .applet-box:hover,
    .#{$v} .applet-box:checked {
        border-image: url("panel-assets/#{$v}-item-hover.svg") 4;
    }
}

.applet-label {
    color: $white;
    text-align: center;
}

.applet-icon {
    color: $white;
    icon-size: 16px;
}
