/********
 ! Panel
 ********/

#panel {
    background-gradient-direction: vertical;
    background-gradient-end: alpha($black, .3);
    background-gradient-start: alpha($black, .5);
    height: 25px;
    color: $white;
    font-weight: normal;
    font-size: $font-size;

    &.panel-top {
        box-shadow: 0 1px alpha($white, .2);
    }

    &.panel-bottom {
        box-shadow: 0 -1px alpha($white, .2);
    }

    &:highlight { }

    &Left {
        spacing: 0;

        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: rgba(255, 0, 0, .05);
            background-gradient-end: rgba(255, 0, 0, .2);
        }

        &:ltr {
            padding-right: 4px;
        }

        &:rtl {
            padding-left: 4px;
        }
    }

    &Center {
        spacing: 0;

        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: rgba(0, 255, 0, .05);
            background-gradient-end: rgba(0, 255, 0, .2);
        }
    }

    &Right {
        spacing: 0;

        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: rgba(0, 0, 255, .05);
            background-gradient-end: rgba(0, 0, 255, .2);
        }

        &:ltr {
            padding-left: 0;
        }

        &:rtl {
            padding-right: 0;
        }
    }

    // Panel Launchers Applet
    &-launchers-box { }
}

.panel-button,
.panel-status-button {
    -natural-hpadding: 5px;
    -minimum-hpadding: 5px;
    font-weight: bold;
    color: $white;
    border-top: 0;
    border-bottom: 0;
    transition-duration: 200;
}

.panel-top .panel-status-button:hover {
    border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}

.panel-bottom .panel-status-button:hover {
    border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}

.panel-menu {
    -boxpointer-gap: 4px
}

.system-status-icon {
    icon-size: 1.09em;
}

/*************************
 ! Panel Launchers Applet
 *************************/

.panel-launcher {
    margin: 0;
    padding: 0 $spacing;
}

@each $v in panel-top, panel-bottom {
    .#{$v} .panel-launcher:hover {
        border-image: url("panel-assets/#{$v}-item-hover.svg") 4;
    }
}
