/**************
 ! Popup Menus
 **************/

.popup-menu {
    color: $white;
    font-size: $font-size;

    &-boxpointer { /* Ha törlésre kerül a cinnamon-ból és rossz lesz anélkül a téma akkor csak simán el kell helyezni a popup-menu részbe */
        -arrow-border-radius: $roundness;
        -arrow-background-color: alpha($black, .90);
        -arrow-border-width: 1px;
        -arrow-border-color: alpha($white, .1);
        -arrow-base: 21px;
        -arrow-rise: 9px;
    }

    &-menu-arrow {
        icon-size: 1.14em;
    }

    &-content {
        padding: 1em 0em;
    }

    &-item {
        padding: .4em 1.75em;
        spacing: 1em;
        border: 1px solid $transparent;

        &:active {
            color: $dark_fg_color;
            background-color: $selected_bg_color;
            box-shadow: inset 0 0 1px 1px boxshadow_normal($selected_bg_color);
            border-radius: $roundness;
        }

        &:insensitive {
            color: $bg_color;
        }

        &-dot { }
    }

    &-icon {
        icon-size: 1.14em;
    }
}

.popup-sub-menu {
    background-gradient-direction: vertical;
    background-gradient-start: alpha($white, .15);
    background-gradient-end: alpha($white, .10);
    box-shadow: inset 0 1px 3px 0 alpha($black, .3);

    .popup-menu-item {
        &:ltr {
            padding-right: 1.75em;
        }

        &:rtl {
            padding-left: 1.75em;
        }
    }

    StScrollBar {
        padding: 4px;

        StBin#trough {
            border-width: 0;
        }

        StBin#vhandle {
            background: $selected_bg_color;
            border-width: 0;
        }
    }

    // FIX for strange padding in "StDrawingArea"
    .popup-slider-menu-item {
        border-image: url("control-assets/slider--submenu.svg") 9 32 8 8;
    }
}

.popup-combo-menu {
    color: $white;
    background-gradient-direction: vertical;
    background-gradient-start: alpha($black, .72);
    background-gradient-end: alpha($black, .85);
    box-shadow: inset 0 1px 3px 0 alpha($black, .3);
    border: 1px solid alpha($white, .1);
    padding: 1em 0em;
    font-size: $font-size;
    border-radius: 5px;
}

.popup-image-menu-item {

}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    background-color: shade($menu_bg_color, ($contrast + .1));
    height: 1px;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    -slider-height: 2px;
    -slider-background-color: $transparent;
    -slider-border-color: $transparent;
    -slider-active-background-color: $selected_bg_color;
    -slider-active-border-color: $transparent;
    -slider-border-width: 2px;
    -slider-handle-radius: 6px;
    color: $dark_fg_color;

    border-image: url("control-assets/slider.svg") 9 6 8 8;
    border: 0 solid $transparent;
    min-width: 15em;
    height: 16px;

    .popup-menu-item:active & {
        //-slider-handle-radius: 5px;
        //color: $white;
    }
}

.popup-device-menu-item {
    spacing: 0.5em;
}

.popup-inactive-menu-item {
    color: #999;
    font-weight: normal;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-submenu-menu-item:open {
    border-radius: 0;
    //background-color: $selected_bg_color;
    border-image: url("misc-assets/sub-menu-item-active.png") 4;
    color: $white;
}
