/**************
 ! Sound Applet
 **************/

.sound-player {
    StBoxLayout {
        spacing: .5em;
    }

    > StBoxLayout {
        padding: 0 $spacing $spacing;
    }

    StButton {
        width: 22px;
        height: 13px;
        padding: $spacing;
        color: $bg_color;

        &:hover, &:active {
            color: $selected_bg_color;
        }

        StIcon {
            icon-size: 1.5em;
        }
    }

    StButton:small {
        width: 16px;
        height: 8px;

        StIcon {
            icon-size: 1.2em;
        }
    }

    &-generic-coverart {
        background: alpha($black, .2);
    }

    &-overlay {
        width: 300px;
        height: 70px;
        padding: $spacing * 3;
        spacing: .5em;
        background: alpha($black, .8);
        color: $white;

        StBoxLayout {
            padding-top: 2px;
        }
    }

    .slider {
        border-image: none;
        padding: 0;
        height: .5em;
        -slider-height: .4em;
        -slider-background-color: $dark_bg_color;
        -slider-active-background-color: $selected_bg_color;
        -slider-handle-radius: 0;
    }
}
