/************
 ! Switchers
 ************/

.toggle-switch {
    width: 51px;
    height: 18px;

    &-us, &-intl {
        border-image: url("control-assets/off.png") 4 4 4 4 stretch;
    }

    &-us:checked, &-intl:checked {
        border-image: url("control-assets/on.png") 4 4 4 4 stretch;
    }
}
