/***********
 ! Tooltips
 ***********/

#Tooltip {
    padding: 4px 6px;
    background-color: $tooltip_bg_color;
    border: 1px solid $border_color;
    color: $dark_fg_color;
    font-size: $font-size;
    font-weight: normal;    
    text-align: center;
}
