/***********
 ! Tooltips
 ***********/

#Tooltip {
    background-color: $tooltip_bg_color;
    color: $tooltip_fg_color;
    border: 1px solid border_normal($tooltip_bg_color);
    border-radius: $roundness;
    padding: 4px 6px;
    font-size: $font-size;
    font-weight: normal;    
    text-align: center;
}
