/**************
 ! User applet
 **************/

.user-icon {
    background-color: $transparent;
    border: none;
}

.user-label {
    color: $dark_fg_color;
    font-size: 16px;
    margin: 6px;
}
