/**************
 ! Window list
 **************/

.window-list-box {
    font-weight: bold;
    spacing: 1px;
    padding-left: $spacing;
    padding-top: 0;

    &.vertical {
        padding-left: 0;
        padding-right: 0;
        padding-top: $spacing;
        padding-bottom: $spacing;
    }
}

.window-list-item-label {
    font-weight: normal;
    width: 15em;
    min-width: 5px;
}

.window-list-item-box {
    transition-duration: 100;
    color: $white;

    &.top {
         padding-left: $spacing;
    }

    &.bottom {
         padding-left: $spacing;
    }

    &.left {
         //padding-left: 0;
         //padding-right: $spacing - 3px;
    }

    &.right {
         //padding-left: $spacing - 3px;
         //padding-right: 0;
    }
}

/* Different images used in top & bottom panels. */
@each $v in panel-top, panel-bottom, panel-left, panel-right {
    .#{$v} {
        .window-list-item-box:hover {
            border-image: url("panel-assets/#{$v}-item-hover.svg") 4;
            color: $white;
        }

        .window-list-item-box:active,
        .window-list-item-box:checked,
        .window-list-item-box:focus {
            border-image: url("panel-assets/#{$v}-item.svg") 4;
            color: $white;
        }

        .window-list-item-box:checked:hover,
        .window-list-item-box:focus:hover,
        .window-list-item-box:active:hover {
            border-image: url("panel-assets/#{$v}-item-hover.svg") 4;
        }

        .window-list-item-demands-attention {
            border-image: url("panel-assets/#{$v}-item-attention.svg") 4;
        }

        .window-list-item-demands-attention:hover {
            border-image: url("panel-assets/#{$v}-item-attention-hover.svg") 4;
        }
    }
}

/* This styles the window-list preview and window name
   in "cover" and "timeline" alt-tab modes */
.switcher-list {
    border-image: url("background-assets/tooltip.svg") 7;
    color: $white;
    padding: 0 $spacing - 2px;
    font-weight: bold;

    > StBoxLayout {
        spacing: .4em;

        > StBoxLayout {
            spacing: .4em;
        }
    }
}

.window-list-preview {
    background: rgba(80,80,80,0.8);
    border: 1px solid #a5a5a5;
    border-radius: 2px;
    font-size: 9pt;
    color: white;
    text-shadow: black 0px 0px 2px;
    padding: 8px;
    spacing: $spacing;
}
