/**********************
 ! Genome Terminal *
***********************/

@include exports("gnome-terminal") {
    //noinspection ScssLintInspection,ScssLintInspection
    VteTerminal {
        background-color: $osd_base;
        color: $osd_fg;
    }

    TerminalWindow {
        scrolledwindow junction {
            background-color: $osd_base;
        }

        scrollbar {
            background-color: $osd_base;

            button {
                color: shade($osd_base, 0.6);

                &:active, &:checked {
                    color: shade($osd_base, 0.6);

                    &:hover {
                        color: shade($osd_base, 0.6);
                    }
                }
            }

            slider {
                border-color: mix(shade($osd_base, .87), $osd_fg, .21);
                background-color: mix($osd_base, $osd_fg, .21);

                &:hover {
                    border-color: mix(shade($osd_base, .87), $osd_fg, .31);
                    background-color: mix($osd_base, $osd_fg, .31);
                }

                &.vertical {
                    &:hover {
                        border-color: mix(shade($osd_base, .87), $osd_fg, .31);
                        background-color: mix($osd_base, $osd_fg, .31);
                    }

                    &:active, &:checked {
                        border-color: shade($selected_bg_color, .9);
                        background-color: $selected_bg_color;
                    }
                }

                &:active {
                    border-color: shade($selected_bg_color, .9);
                    background-color: $selected_bg_color;
                }
            }
        }

        /*GtkNotebook.notebook {
            border-right-width: 0;
            border-bottom-width: 0;
            border-left-width: 0;
        }*/
    }
}
