/*************
 ! Rhythmbox *
**************/

@include exports("rhythmbox") {
    /* Megax fix. */
    .sidebar-paned .inline-toolbar.horizontal.sidebar-toolbar { // Alsó gombokat javítja.
        button {
            @include button($toolbar_bg_color, $toolbar_fg_color);

            min-height: 22px;
            min-width: 24px;
            padding: ($spacing + 2px) $spacing;
            @extend %linked_button;
        }

        combobox, button {
            padding: $spacing - 1px;

            &.text-button { padding: $spacing; }

            &.image-button { padding: ($spacing + 1px) ($spacing - 1px) ($spacing + 1px) $spacing; }
        }

        background-color: $toolbar_bg_color;
        box-shadow: inset 0 1px $borders_color;

        &:dir(rtl) {
            box-shadow: inset 0 1px $borders_color;
        }
    }
}
