@charset "UTF-8";
/***********
 ! Cinnamon
 ***********/
/*******
 ! Font
 *******/
stage {
  font-family: ubuntu, cantarell, sans-serif;
  font-size: 9pt;
  color: #fff;
}

.cinnamon-link {
  color: #fff;
}
.cinnamon-link:hover {
  color: #d64937;
  text-decoration: underline;
}

/**********
 ! Entries
 **********/
.popup-menu StEntry,
.modal-dialog StEntry {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 0, 0);
  background-gradient-end: rgba(0, 0, 0, 0);
  border: 0;
  border-width: 0;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 0;
  border-image: url("control-assets/entry.svg") 6;
  padding: 4px 8px 3px 8px;
  height: 22px;
  width: 220px;
  font-size: 10pt;
  font-weight: normal;
  color: #dcdcdc;
}
.popup-menu StEntry:focus, .popup-menu StEntry:active, .popup-menu StEntry:pressed,
.modal-dialog StEntry:focus,
.modal-dialog StEntry:active,
.modal-dialog StEntry:pressed {
  border-image: url("control-assets/entry-focused.svg") 6;
  font-weight: bold;
  color: #dcdcdc;
  caret-color: #dcdcdc;
  caret-size: 1px;
  selected-color: #f9f9f9;
  selection-background-color: #d64937;
}
.popup-menu StEntry StIcon,
.modal-dialog StEntry StIcon {
  color: #f9f9f9;
}
.popup-menu StEntry:focus > StIcon, .popup-menu StEntry:active > StIcon, .popup-menu StEntry:pressed > StIcon,
.modal-dialog StEntry:focus > StIcon,
.modal-dialog StEntry:active > StIcon,
.modal-dialog StEntry:pressed > StIcon {
  color: #f9f9f9;
}

/************
 ! Separator
 ************/
.separator {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
}

/************
 ! Switchers
 ************/
.toggle-switch {
  width: 51px;
  height: 18px;
}
.toggle-switch-us, .toggle-switch-intl {
  border-image: url("control-assets/off.png") 4 4 4 4 stretch;
}
.toggle-switch-us:checked, .toggle-switch-intl:checked {
  border-image: url("control-assets/on.png") 4 4 4 4 stretch;
}

/*************
 ! Scrollbars
 *************/
StScrollView.vfade {
  -st-vfade-offset: 0;
}
StScrollView.hfade {
  -st-hfade-offset: 0;
}

StScrollBar {
  padding: 3px;
  padding-right: 6px;
  min-width: 8px;
  min-height: 16px;
}
StScrollBar StBin#trough {
  background-color: rgba(0, 0, 0, 0);
}
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
  border-image: url("control-assets/scroll-handle.svg") 3;
}
StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:active,
StScrollBar StButton#hhandle:active,
StScrollBar StButton#vhandle:focus,
StScrollBar StButton#hhandle:focus {
  border-image: url("control-assets/scroll-handle-hover.svg") 3;
}

/***********
 ! Tooltips
 ***********/
#Tooltip {
  background-color: #2d2d2d;
  color: #dcdcdc;
  border: 1px solid #242424;
  border-radius: 2px;
  padding: 4px 6px;
  font-size: 9pt;
  font-weight: normal;
  text-align: center;
}

/**************
 ! Sound Applet
 **************/
.sound-player StBoxLayout {
  spacing: .5em;
}
.sound-player > StBoxLayout {
  padding: 0 5px 5px;
}
.sound-player StButton {
  width: 22px;
  height: 13px;
  padding: 5px;
  color: #dedede;
}
.sound-player StButton:hover, .sound-player StButton:active {
  color: #d64937;
}
.sound-player StButton StIcon {
  icon-size: 1.5em;
}
.sound-player StButton:small {
  width: 16px;
  height: 8px;
}
.sound-player StButton:small StIcon {
  icon-size: 1.2em;
}
.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.2);
}
.sound-player-overlay {
  width: 300px;
  height: 70px;
  padding: 15px;
  spacing: .5em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}
.sound-player .slider {
  border-image: none;
  padding: 0;
  height: .5em;
  -slider-height: .4em;
  -slider-background-color: #2d2d2d;
  -slider-active-background-color: #d64937;
  -slider-handle-radius: 0;
}

/*********
 ! Slider
 *********/
.slider {
  -slider-height: 2px;
  -slider-background-color: rgba(0, 0, 0, 0);
  -slider-border-color: rgba(0, 0, 0, 0);
  -slider-active-background-color: #d64937;
  -slider-active-border-color: rgba(0, 0, 0, 0);
  -slider-border-width: 2px;
  -slider-handle-radius: 6px;
  color: #dcdcdc;
  border-image: url("control-assets/slider.svg") 9 6 8 8;
  border: 0 solid rgba(0, 0, 0, 0);
  min-width: 15em;
  height: 16px;
}

/**************
 ! Window list
 **************/
.window-list-box {
  font-weight: bold;
  spacing: 1px;
  padding-left: 5px;
  padding-top: 0;
}
.window-list-box.vertical {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.window-list-item-label {
  font-weight: normal;
  width: 15em;
  min-width: 5px;
}

.window-list-item-box {
  transition-duration: 100;
  color: #fff;
}
.window-list-item-box.top {
  padding-left: 5px;
}
.window-list-item-box.bottom {
  padding-left: 5px;
}

/* Different images used in top & bottom panels. */
.panel-top .window-list-item-box:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
  color: #fff;
}
.panel-top .window-list-item-box:active,
.panel-top .window-list-item-box:checked,
.panel-top .window-list-item-box:focus {
  border-image: url("panel-assets/panel-top-item.svg") 4;
  color: #fff;
}
.panel-top .window-list-item-box:checked:hover,
.panel-top .window-list-item-box:focus:hover,
.panel-top .window-list-item-box:active:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}
.panel-top .window-list-item-demands-attention {
  border-image: url("panel-assets/panel-top-item-attention.svg") 4;
}
.panel-top .window-list-item-demands-attention:hover {
  border-image: url("panel-assets/panel-top-item-attention-hover.svg") 4;
}

.panel-bottom .window-list-item-box:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
  color: #fff;
}
.panel-bottom .window-list-item-box:active,
.panel-bottom .window-list-item-box:checked,
.panel-bottom .window-list-item-box:focus {
  border-image: url("panel-assets/panel-bottom-item.svg") 4;
  color: #fff;
}
.panel-bottom .window-list-item-box:checked:hover,
.panel-bottom .window-list-item-box:focus:hover,
.panel-bottom .window-list-item-box:active:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}
.panel-bottom .window-list-item-demands-attention {
  border-image: url("panel-assets/panel-bottom-item-attention.svg") 4;
}
.panel-bottom .window-list-item-demands-attention:hover {
  border-image: url("panel-assets/panel-bottom-item-attention-hover.svg") 4;
}

.panel-left .window-list-item-box:hover {
  border-image: url("panel-assets/panel-left-item-hover.svg") 4;
  color: #fff;
}
.panel-left .window-list-item-box:active,
.panel-left .window-list-item-box:checked,
.panel-left .window-list-item-box:focus {
  border-image: url("panel-assets/panel-left-item.svg") 4;
  color: #fff;
}
.panel-left .window-list-item-box:checked:hover,
.panel-left .window-list-item-box:focus:hover,
.panel-left .window-list-item-box:active:hover {
  border-image: url("panel-assets/panel-left-item-hover.svg") 4;
}
.panel-left .window-list-item-demands-attention {
  border-image: url("panel-assets/panel-left-item-attention.svg") 4;
}
.panel-left .window-list-item-demands-attention:hover {
  border-image: url("panel-assets/panel-left-item-attention-hover.svg") 4;
}

.panel-right .window-list-item-box:hover {
  border-image: url("panel-assets/panel-right-item-hover.svg") 4;
  color: #fff;
}
.panel-right .window-list-item-box:active,
.panel-right .window-list-item-box:checked,
.panel-right .window-list-item-box:focus {
  border-image: url("panel-assets/panel-right-item.svg") 4;
  color: #fff;
}
.panel-right .window-list-item-box:checked:hover,
.panel-right .window-list-item-box:focus:hover,
.panel-right .window-list-item-box:active:hover {
  border-image: url("panel-assets/panel-right-item-hover.svg") 4;
}
.panel-right .window-list-item-demands-attention {
  border-image: url("panel-assets/panel-right-item-attention.svg") 4;
}
.panel-right .window-list-item-demands-attention:hover {
  border-image: url("panel-assets/panel-right-item-attention-hover.svg") 4;
}

/* This styles the window-list preview and window name
   in "cover" and "timeline" alt-tab modes */
.switcher-list {
  border-image: url("background-assets/tooltip.svg") 7;
  color: #fff;
  padding: 0 3px;
  font-weight: bold;
}
.switcher-list > StBoxLayout {
  spacing: .4em;
}
.switcher-list > StBoxLayout > StBoxLayout {
  spacing: .4em;
}

.window-list-preview {
  border-image: url("background-assets/tooltip.svg") 7;
  font-size: 9pt;
  color: white;
  padding: 8px;
  spacing: 5px;
}

/**************
 ! User applet
 **************/
.user-icon {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.user-label {
  color: #dcdcdc;
  font-size: 16px;
  margin: 6px;
}

/*******
 ! Menu
 *******/
.menu {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 9pt;
  min-width: 100px;
}
.menu.top {
  border-radius: 0 0 2px 2px;
  border-top-width: 0;
}
.menu.bottom {
  border-radius: 2px 2px 0 0;
  border-bottom-width: 0;
}
.menu.left {
  border-radius: 0 2px 2px 0;
  border-left-width: 0;
}
.menu.right {
  border-radius: 2px 0 0 2px;
  border-right-width: 0;
}

/* Main menu title */
.menu-favorites-box {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 0, 0);
  background-gradient-end: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  margin: auto;
  padding: 0;
  border-radius: 0;
}

.menu-favorites-button {
  padding: 10px;
  border-radius: 0;
}
.menu-favorites-button:hover {
  background-color: #d64937;
  box-shadow: inset 0 0 1px 1px rgba(214, 73, 55, 0.8);
  border-radius: 0;
}

.menu-places-box {
  margin: auto;
  padding: 8px;
  border: 0 solid #444444;
}

.menu-places-button {
  padding: 10px;
}

.menu-applications-box {
  padding: 10px;
  padding-bottom: 0;
}

.menu-application-button {
  padding: 7px;
  max-width: 10px;
}
.menu-application-button-label:ltr {
  padding-left: 5px;
}
.menu-application-button-label:rtl {
  padding-right: 5px;
}
.menu-application-button-selected {
  padding: 7px;
  color: #dcdcdc;
  background-color: #d64937;
  box-shadow: inset 0 0 1px 1px rgba(214, 73, 55, 0.8);
  border-radius: 0;
}
.menu-application-button-selected:highlighted {
  border-image: none;
  color: #dcdcdc;
  background-color: #d64937;
  box-shadow: inset 0 0 1px 1px rgba(214, 73, 55, 0.8);
  border-radius: 0;
}

.menu-categories-box {
  padding: 10px 30px;
}

.menu-category-button {
  padding: 7px;
}
.menu-category-button-greyed {
  padding: 7px;
  color: #888888;
  font-style: normal;
}
.menu-category-button-selected {
  padding: 7px;
  color: #dcdcdc;
  background-color: #d64937;
  box-shadow: inset 0 0 1 1 rgba(214, 73, 55, 0.8);
  border-radius: 0;
}
.menu-category-button-label:ltr {
  padding-left: 5px;
}
.menu-category-button-label:rtl {
  padding-right: 5px;
}

/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu */
.menu-selected-app-box {
  padding-right: 30px;
  padding-left: 30px;
  text-align: right;
}

.menu-selected-app-title {
  font-weight: bold;
}

.menu-selected-app-description {
  max-width: 150px;
}

.menu-search-box {
  padding-left: 30px;
}

.menu-search-entry-icon {
  icon-size: 1em;
}

/**************
 ! Popup Menus
 **************/
.popup-menu {
  color: #fff;
  font-size: 9pt;
  /* .popup-menu-boxpointer and .popup-menu are kept for compatibility
     with cinnamon version under 3.2. Use .menu in version 3.2 and above */
}
.popup-menu-boxpointer {
  /* Ha törlésre kerül a cinnamon-ból és rossz lesz anélkül a téma akkor csak simán el kell helyezni a popup-menu részbe */
  -arrow-border-radius: 2px;
  -arrow-background-color: rgba(0, 0, 0, 0.9);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(255, 255, 255, 0.1);
  -arrow-base: 21px;
  -arrow-rise: 9px;
}
.popup-menu-menu-arrow {
  icon-size: 1.14em;
}
.popup-menu-content {
  padding: 1em 0em;
}
.popup-menu-item {
  padding: .4em 1.75em;
  spacing: 1em;
  border: 1px solid rgba(0, 0, 0, 0);
}
.popup-menu-item:active {
  color: #dcdcdc;
  background-color: #d64937;
  box-shadow: inset 0 0 1px 1px rgba(214, 73, 55, 0.8);
  border-radius: 2px;
}
.popup-menu-item:insensitive {
  color: #dedede;
}
.popup-menu-icon {
  icon-size: 1.14em;
}

.popup-sub-menu {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255, 255, 255, 0.15);
  background-gradient-end: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.popup-sub-menu .popup-menu-item:ltr {
  padding-right: 1.75em;
}
.popup-sub-menu .popup-menu-item:rtl {
  padding-left: 1.75em;
}
.popup-sub-menu StScrollBar {
  padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
  border-width: 0;
}
.popup-sub-menu StScrollBar StBin#vhandle {
  background: #d64937;
  border-width: 0;
}
.popup-sub-menu .popup-slider-menu-item {
  border-image: url("control-assets/slider--submenu.svg") 9 32 8 8;
}

.popup-combo-menu {
  color: #fff;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 0, 0.72);
  background-gradient-end: rgba(0, 0, 0, 0.85);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1em 0em;
  font-size: 9pt;
  border-radius: 5px;
}

.popup-combobox-item {
  spacing: 1em;
}

.popup-separator-menu-item {
  background-color: #292929;
  height: 1px;
}

.popup-alternating-menu-item:alternate {
  font-weight: bold;
}

.popup-slider-menu-item {
  -slider-height: 2px;
  -slider-background-color: rgba(0, 0, 0, 0);
  -slider-border-color: rgba(0, 0, 0, 0);
  -slider-active-background-color: #d64937;
  -slider-active-border-color: rgba(0, 0, 0, 0);
  -slider-border-width: 2px;
  -slider-handle-radius: 6px;
  color: #dcdcdc;
  border-image: url("control-assets/slider.svg") 9 6 8 8;
  border: 0 solid rgba(0, 0, 0, 0);
  min-width: 15em;
  height: 16px;
}

.popup-device-menu-item {
  spacing: 0.5em;
}

.popup-inactive-menu-item {
  color: #999;
  font-weight: normal;
}

.popup-subtitle-menu-item {
  font-weight: bold;
}

.popup-submenu-menu-item:open {
  border-radius: 0;
  border-image: url("misc-assets/sub-menu-item-active.png") 4;
  color: #fff;
}

/********
 ! Panel
 ********/
#panel {
  background-gradient-direction: vertical;
  background-gradient-end: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(0, 0, 0, 0.5);
  height: 25px;
  width: 32px;
  color: #fff;
  font-weight: normal;
  font-size: 9pt;
}

.panel.panel-top {
  box-shadow: 0 1px rgba(255, 255, 255, 0.2);
}
.panel.panel-bottom {
  box-shadow: 0 -1px rgba(255, 255, 255, 0.2);
}
.panel.panel-left {
  box-shadow: 1px 0 rgba(255, 255, 255, 0.2);
}
.panel.panel-right {
  box-shadow: -1px 0 rgba(255, 255, 255, 0.2);
}
.panelLeft {
  spacing: 0;
}
.panelLeft:dnd, .panelLeft.vertical:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255, 0, 0, 0.05);
  background-gradient-end: rgba(255, 0, 0, 0.2);
}
.panelLeft:ltr {
  padding-right: 4px;
}
.panelLeft:rtl {
  padding-left: 4px;
}
.panelLeft.vertical:ltr {
  padding-right: 0;
}
.panelLeft.vertical:rtl {
  padding-left: 0;
}
.panelCenter {
  spacing: 0;
}
.panelCenter:dnd, .panelCenter.vertical:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 255, 0, 0.05);
  background-gradient-end: rgba(0, 255, 0, 0.2);
}
.panelCenter.vertical {
  padding-right: 0;
  padding-left: 0;
}
.panelRight {
  spacing: 0;
}
.panelRight:dnd, .panelRight.vertical:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 255, 0.05);
  background-gradient-end: rgba(0, 0, 255, 0.2);
}
.panelRight:ltr {
  padding-left: 0;
}
.panelRight:rtl {
  padding-right: 0;
}
.panelRight.vertical:ltr {
  padding-left: 0;
}
.panelRight.vertical:rtl {
  padding-right: 0;
}

.panel-launchers .launcher {
 /*padding-left: 1px;
 padding-right: 1px;
 border: 0 solid transparent;
border-bottom-width: 1px;*/
}

.panel-button,
.panel-status-button {
  -natural-hpadding: 5px;
  -minimum-hpadding: 5px;
  font-weight: bold;
  color: #fff;
  border-top: 0;
  border-bottom: 0;
  transition-duration: 200;
}

.panel-menu {
  -boxpointer-gap: 4px;
}

.system-status-icon {
  icon-size: 1.09em;
}

/*************************
 ! Panel Launchers Applet
 *************************/
.panel-launchers {
  spacing: 2px;
}
.panel-launchers.vertical {
  spacing: 2px;
}

.panel-top .panel-launcher:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}

.panel-top .panel-status-button:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}

.panel-bottom .panel-launcher:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}

.panel-bottom .panel-status-button:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}

.panel-left .panel-launcher:hover {
  border-image: url("panel-assets/panel-left-item-hover.svg") 4;
}

.panel-left .panel-status-button:hover {
  border-image: url("panel-assets/panel-left-item-hover.svg") 4;
}

.panel-right .panel-launcher:hover {
  border-image: url("panel-assets/panel-right-item-hover.svg") 4;
}

.panel-right .panel-status-button:hover {
  border-image: url("panel-assets/panel-right-item-hover.svg") 4;
}

/**************
 ! Date applet
 **************/
.datemenu-date-label {
  padding: .7em 1.3em .4em 1.3em;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  color: #dcdcdc;
}

.calendar {
  padding: .4em 1.75em;
  spacing-rows: 0;
  spacing-columns: 0;
}

.calendar-month-label {
  padding-top: 2px;
  font-size: 9pt;
  font-weight: bold;
  color: #555555;
}

.calendar-change-month-back,
.calendar-change-month-forward:rtl {
  background-image: url("control-assets/calendar-arrow-left.svg");
  background-size: 16px;
  width: 16px;
  height: 16px;
}
.calendar-change-month-back:hover,
.calendar-change-month-forward:rtl:hover {
  background-image: url("control-assets/calendar-arrow-left-hover.svg");
}

.calendar-change-month-forward,
.calendar-change-month-back:rtl {
  background-image: url("control-assets/calendar-arrow-right.svg");
  background-size: 16px;
  width: 16px;
  height: 16px;
}
.calendar-change-month-forward:hover,
.calendar-change-month-back:rtl:hover {
  background-image: url("control-assets/calendar-arrow-right-hover.svg");
}

.calendar-day {
  /* ! */
}

.calendar-day-top {
  /* ! */
}

.calendar-day-left {
  /* ! */
}

.calendar-day-base {
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  width: 2.3em;
  height: 2.5em;
}

.calendar-day-heading {
  color: #dcdcdc;
  padding: 1em;
  height: 1em;
}

.calendar-work-day {
  border-image: url("misc-assets/calendar-work-day.svg") 6;
  border: none;
  color: #dcdcdc;
}

.calendar-nonwork-day {
  border-image: url("misc-assets/calendar-nonwork-day.svg") 6;
  border: none;
  color: #dcdcdc;
}

.calendar-today {
  border-image: url("misc-assets/calendar-today.svg") 6;
  color: #dcdcdc;
  font-weight: bold;
}

.calendar-other-month-day {
  border-image: url("misc-assets/calendar-other-month-day.svg") 6;
  color: #555555;
  font-weight: normal;
}

.calendar-week-number {
  color: #dcdcdc;
  font-size: 9pt;
  font-weight: normal;
  width: 1.2em;
  height: 1.6em;
  padding-top: .7em;
  padding-right: .6em;
}

/****************
 ! Looking Glass
 ****************/
#LookingGlassDialog {
  background-color: #2d2d2d;
  border-radius: 2px;
  border: 1px solid #444444;
  transition-duration: 300;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #dcdcdc;
}

/**********
 ! Applets
 **********/
.applet-box {
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  border-top: 0;
  border-bottom: 0;
  transition-duration: 200;
}
.applet-box.vertical {
  padding-left: 0;
  padding-right: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.panel-top .applet-box:hover,
.panel-top .applet-box:checked {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}

.panel-bottom .applet-box:hover,
.panel-bottom .applet-box:checked {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}

.panel-left .applet-box:hover,
.panel-left .applet-box:checked {
  border-image: url("panel-assets/panel-left-item-hover.svg") 4;
}

.panel-right .applet-box:hover,
.panel-right .applet-box:checked {
  border-image: url("panel-assets/panel-right-item-hover.svg") 4;
}

.applet-label {
  color: #fff;
  text-align: center;
}

.applet-icon {
  color: #fff;
  icon-size: 16px;
}

/****************
 ! Notifications
 ****************/
.url-highlighter {
  link-color: #3f51b5;
}

#notification {
  font-size: 10pt;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 0, 0.72);
  background-gradient-end: rgba(0, 0, 0, 0.85);
  padding: 8px 8px 8px 8px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  color: #dcdcdc;
}
#notification CinnamonGenericContainer * {
  font-weight: normal;
  font-size: 9pt;
  color: #fff;
}
#notification CinnamonGenericContainer *:first-child {
  font-weight: bold;
  font-size: 10pt;
  padding: .2em 0;
  color: #dcdcdc;
}
#notification CinnamonGenericContainer *:last-child {
  padding: .3em 0;
  color: #dcdcdc;
}
#notification-body {
  spacing: 5px;
}
#notification-actions {
  spacing: 10px;
}
#notification.multi-line-notification {
  padding-bottom: 8px;
  color: #dcdcdc;
}
#notification.notification-with-image {
  min-height: 159px;
}
.popup-menu-content #notification.notification-with-image {
  min-height: 170px;
}
#notification.notification-with-image #notification-body {
  padding: 0;
}
#notification StButton:hover, #notification StButton:active {
  color: #d64937;
}

.notification-button {
  height: 22px;
  font-size: 10pt;
  padding: 5px 31px 5px;
}
.notification-button:focus {
  color: #d64937;
}

.notification-icon-button {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  padding: 5px;
}
.notification-icon-button:focus {
  padding: 5px;
}
.notification-icon-button > StIcon {
  icon-size: 16px;
}

/***********************
 ! Notifications applet
 ***********************/
.notification-applet-padding {
  padding: .5em 1em;
}

.notification-applet-container {
  max-height: 100px;
}

/* Notifs look inside the notification applet & other popups. */
.popup-menu-content #notification {
  border-image: url("background-assets/dark-bg-marked-orange.svg") 7;
  padding: .8em .8em .6em 1em;
}
.popup-menu-content #notification.multi-line-notification {
  border-image: url("background-assets/dark-bg-marked-blue.svg") 7;
}
.popup-menu-content #notification.notification-with-image {
  border-image: url("background-assets/dark-bg-marked-green.svg") 7;
  padding-bottom: .8em;
}

/******
 ! OSD
 ******/
.workspace-osd {
  border-radius: 6px;
  padding: 12px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 20pt;
  font-weight: bold;
  color: #fff;
}

/************
 ! Magnifier
 ************/
.magnifier-zoom-region {
  border: 2px solid maroon;
}
.magnifier-zoom-region.full-screen {
  border-width: 0;
}

/***********************
 ! Lightbox + flashspot
 ***********************/
/* The background shade when a dialog appears */
.lightbox {
  background-color: rgba(0, 0, 0, 0.65);
}

/* Among other places, appears when adding an applet */
.flashspot {
  background-color: rgba(255, 255, 255, 0.6);
}

/****************
 ! Modal dialogs
 ****************/
.modal-dialog {
  border-image: url("background-assets/popup.svg") 9;
  border-radius: 0;
  padding: 0;
  color: #dcdcdc;
}
.modal-dialog > * {
  padding: 24px;
  border-radius: 0;
}
.modal-dialog > .modal-dialog-button-box {
  border-image: url("background-assets/buttonbox-bg.svg") 8;
  spacing: 0;
  margin: 0;
  padding: 5px 8px 6px 8px;
}

.modal-dialog-button {
  background-color: rgba(0, 0, 0, 0);
  background-gradient-direction: none;
  background-gradient-start: rgba(0, 0, 0, 0);
  background-gradient-end: rgba(0, 0, 0, 0);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border: none;
  border-width: 0;
  border-radius: 0;
  font-weight: bold;
  font-size: 9pt;
  border-image: url("button-assets/button-primary.svg") 10;
  color: #dcdcdc;
  padding: .9em;
}
.modal-dialog-button:grayed, .modal-dialog-button:disabled, .modal-dialog-button:insensitive {
  border-image: url("button-assets/button-insensitive.svg") 10;
  color: #888888;
}
.modal-dialog-button:grayed StIcon, .modal-dialog-button:disabled StIcon, .modal-dialog-button:insensitive StIcon {
  color: #888888;
}
.modal-dialog-button > StIcon {
  width: 16px;
  height: 16px;
  icon-size: 16px;
}
.modal-dialog-button:hover {
  border-image: url("button-assets/button-primary-hover.svg") 10;
}
.modal-dialog-button:active, .modal-dialog-button:pressed {
  border-image: url("button-assets/button-primary-pressed.svg") 10;
}
.modal-dialog-button:focus {
  border-image: url("button-assets/button-orange.svg") 10;
  color: #dcdcdc;
}
.modal-dialog-button:focus:hover {
  border-image: url("button-assets/button-orange-hover.svg") 10;
}
.modal-dialog-button:focus:active, .modal-dialog-button:focus:pressed {
  border-image: url("button-assets/button-orange-pressed.svg") 10;
}
.modal-dialog-button > StIcon {
  color: #2d2d2d;
}
.modal-dialog-button:hover > StIcon, .modal-dialog-button:active > StIcon, .modal-dialog-button:pressed > StIcon {
  color: #2d2d2d;
}
.modal-dialog-button:focus > StIcon, .modal-dialog-button:focus:hover > StIcon, .modal-dialog-button:focus:active > StIcon, .modal-dialog-button:focus:pressed > StIcon {
  color: #2d2d2d;
}

/**************
 ! Run dialogs
 **************/
.run-dialog > * {
  padding: 8px;
}
.run-dialog > .modal-dialog-button-box {
  background-color: rgba(0, 0, 0, 0);
  border-image: none;
  box-shadow: none;
  padding: 0;
  height: 0;
}
.run-dialog-error-box {
  padding: 12px 4px 6px 4px;
  spacing: 1em;
  color: #f44336;
  font-weight: bold;
}
.run-dialog-error-box StIcon {
  width: 16px;
  height: 16px;
  color: #ef6c00;
}
.run-dialog-completion-box {
  font-size: 10pt;
  padding: 1em .7em;
}
.run-dialog-label {
  font-size: 0;
}
.run-dialog-entry {
  /*!*/
}

/****************
 ! About dialogs
 ****************/
.about-content {
  width: 550px;
  height: 250px;
  spacing: 8px;
}

.about-title {
  font-size: 2em;
  font-weight: bold;
}

.about-uuid {
  font-size: 9pt;
  color: #888888;
}

.about-description {
  padding-top: 6px;
  padding-bottom: 8px;
}

.about-version {
  padding-left: 7px;
  font-size: 9pt;
  color: #dcdcdc;
}

.about-icon {
  padding-right: 20px;
  padding-bottom: 14px;
  color: #dcdcdc;
}

.about-scrollBox {
  border-image: url("background-assets/dark-bg.svg") 7;
  padding: 4px;
  padding-right: 0;
  border-radius: 0;
}
.about-scrollBox-innerBox {
  padding: 1.2em;
  spacing: 1.2em;
}

/**********
 ! Alt Tab
 **********/
#altTabPopup {
  padding: 0;
  spacing: 5px;
}
#altTabPopup .switcher-list:last-child {
  color: #dcdcdc;
  padding: 0;
  font-size: 10pt;
  font-weight: bold;
}
#altTabPopup .switcher-list:last-child .item-box {
  padding: 10px;
}
#altTabPopup .switcher-list:last-child .item-box:selected {
  border-image: none;
  color: #dcdcdc;
}
#altTabPopup .switcher-list:last-child .item-box StLabel {
  padding-top: .8em;
}
#altTabPopup .switcher-list:first-child:last-child,
#altTabPopup .switcher-list:first-child {
  color: #dcdcdc;
  padding: 2px;
  font-size: 10pt;
  font-weight: bold;
}
#altTabPopup .switcher-list:first-child:last-child .item-box,
#altTabPopup .switcher-list:first-child .item-box {
  padding: 10px;
}
#altTabPopup .switcher-list:first-child:last-child .item-box:selected,
#altTabPopup .switcher-list:first-child .item-box:selected {
  border-image: url("background-assets/hover.svg") 7;
  color: #dcdcdc;
}
#altTabPopup .switcher-list:first-child:last-child .item-box StLabel,
#altTabPopup .switcher-list:first-child .item-box StLabel {
  padding-top: .4em;
}
#altTabPopup .switcher-list-item-container {
  spacing: 0;
}
#altTabPopup .thumbnail {
  width: 256px;
}

/************
 ! Expo view
 ************/
.expo-background {
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: repeat;
}

.expo-workspace-thumbnail-frame {
  border: 5px rgba(0, 0, 0, 0);
  border-image: url("expo-scale-assets/workspace-shadow.svg") 6;
}
.expo-workspace-thumbnail-frame#active {
  border: 5px rgba(0, 0, 0, 0);
  border-image: url("expo-scale-assets/workspace-shadow.svg") 6;
}

.workspace-thumbnails {
  spacing: 26px;
  padding-left: 10px;
  padding-right: 9px;
}

/* This shades the workspace thumbnails */
.workspace-thumbnails .workspace-overview-background-shade {
  background-color: rgba(0, 0, 0, 0);
}

.expo-workspaces-name-entry {
  border-image: url("expo-scale-assets/workspace-name.svg") 6;
  height: 15px;
  padding: 10px 12px;
  text-align: center;
  font-weight: bold;
  color: #dcdcdc;
}
.expo-workspaces-name-entry#selected {
  border-image: url("expo-scale-assets/workspace-name-focused.svg") 6;
  color: #dcdcdc;
}
.expo-workspaces-name-entry:focus, .expo-workspaces-name-entry#selected:focus {
  border-image: url("expo-scale-assets/workspace-name-pressed.svg") 12;
  color: #dcdcdc;
  selected-color: #dcdcdc;
  caret-color: #dcdcdc;
  caret-size: 1px;
  selection-background-color: #dcdcdc;
}

.workspace-close-button {
  background-image: url("control-assets/close.svg");
  background-size: 41px 61px;
  width: 41px;
  height: 61px;
  -cinnamon-close-overlap: 28px;
}

.workspace-add-button {
  border-image: url("expo-scale-assets/add-workspace-bg.svg") 6;
  background-image: url("expo-scale-assets/plus.svg");
  background-size: 25px 24px;
  height: 200px;
  width: 35px;
}
.workspace-add-button:hover {
  border-image: url("expo-scale-assets/add-workspace-bg.svg") 6;
  background-image: url("expo-scale-assets/plus-hover.svg");
}

.window-close-area {
  border-image: url("expo-scale-assets/workspace-close-area-bg.svg") 9;
  background-image: url("expo-scale-assets/trash.svg");
  height: 100px;
  width: 350px;
}

/********
 ! Scale
 ********/
/* The background for the scale view */
.workspace-overview-background-shade {
  background-color: rgba(0, 0, 0, 0.65);
}

.window-caption {
  border-image: url("expo-scale-assets/window-name.svg") 6;
  color: #dcdcdc;
  font-size: 9pt;
  font-weight: bold;
  padding: 6px 8px;
  spacing: 25px;
  -cinnamon-caption-spacing: 10px;
}
.window-caption#selected {
  border-image: url("expo-scale-assets/window-name-focused.svg") 6;
  color: #dcdcdc;
}

.window-close {
  background-image: url("widget-assets/close.svg");
  background-size: 41px 61px;
  width: 41px;
  height: 45px;
  -cinnamon-close-overlap: 24px;
}

/****************************
 ! Workspace Switcher applet
 ****************************/
/* Controls the styling when using the "Simple buttons" option */
.workspace-switcher {
  spacing: 1px;
  padding: 0 1px 0 1px;
}

.workspace-button {
  width: 24px;
  height: 14px;
  font-weight: bold;
}
.workspace-button.vertical {
  height: 14px;
  width: 24px;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
  padding: 0;
  spacing: 1px;
}

/* Different images/paddings used in top & bottom panels. */
.panel-top .workspace {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
  padding: 0 0 3px 0;
}
.panel-top .workspace .windows {
  -inactive-window-background: rgba(120, 120, 120, 0.9);
  -inactive-window-border: rgba(0, 0, 0, 0.7);
}

.panel-top .workspace-button:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}
.panel-top .workspace-button:outlined {
  border-image: url("panel-assets/panel-top-item.svg") 4;
}

.panel-top .workspace:active {
  border-image: url("panel-assets/panel-top-item.svg") 4;
}
.panel-top .workspace:active .windows {
  -active-window-background: rgba(210, 210, 210, 0.9);
  -active-window-border: rgba(0, 0, 0, 0.85);
  -inactive-window-background: rgba(150, 150, 150, 0.9);
  -inactive-window-border: rgba(0, 0, 0, 0.85);
}

.panel-bottom .workspace {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
  padding: 1px 0 3px 0;
}
.panel-bottom .workspace .windows {
  -inactive-window-background: rgba(120, 120, 120, 0.9);
  -inactive-window-border: rgba(0, 0, 0, 0.7);
}

.panel-bottom .workspace-button:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}
.panel-bottom .workspace-button:outlined {
  border-image: url("panel-assets/panel-bottom-item.svg") 4;
}

.panel-bottom .workspace:active {
  border-image: url("panel-assets/panel-bottom-item.svg") 4;
}
.panel-bottom .workspace:active .windows {
  -active-window-background: rgba(210, 210, 210, 0.9);
  -active-window-border: rgba(0, 0, 0, 0.85);
  -inactive-window-background: rgba(150, 150, 150, 0.9);
  -inactive-window-border: rgba(0, 0, 0, 0.85);
}

.panel-left .workspace {
  border-image: url("panel-assets/panel-left-item-hover.svg") 4;
  padding: 1px 0 3px 0;
}
.panel-left .workspace .windows {
  -inactive-window-background: rgba(120, 120, 120, 0.9);
  -inactive-window-border: rgba(0, 0, 0, 0.7);
}

.panel-left .workspace-button:hover {
  border-image: url("panel-assets/panel-left-item-hover.svg") 4;
}
.panel-left .workspace-button:outlined {
  border-image: url("panel-assets/panel-left-item.svg") 4;
}

.panel-left .workspace:active {
  border-image: url("panel-assets/panel-left-item.svg") 4;
}
.panel-left .workspace:active .windows {
  -active-window-background: rgba(210, 210, 210, 0.9);
  -active-window-border: rgba(0, 0, 0, 0.85);
  -inactive-window-background: rgba(150, 150, 150, 0.9);
  -inactive-window-border: rgba(0, 0, 0, 0.85);
}

.panel-right .workspace {
  border-image: url("panel-assets/panel-right-item-hover.svg") 4;
  padding: 1px 0 3px 0;
}
.panel-right .workspace .windows {
  -inactive-window-background: rgba(120, 120, 120, 0.9);
  -inactive-window-border: rgba(0, 0, 0, 0.7);
}

.panel-right .workspace-button:hover {
  border-image: url("panel-assets/panel-right-item-hover.svg") 4;
}
.panel-right .workspace-button:outlined {
  border-image: url("panel-assets/panel-right-item.svg") 4;
}

.panel-right .workspace:active {
  border-image: url("panel-assets/panel-right-item.svg") 4;
}
.panel-right .workspace:active .windows {
  -active-window-background: rgba(210, 210, 210, 0.9);
  -active-window-border: rgba(0, 0, 0, 0.85);
  -inactive-window-background: rgba(150, 150, 150, 0.9);
  -inactive-window-border: rgba(0, 0, 0, 0.85);
}

/*********************
 ! On screen keyboard
 *********************/
#keyboard {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 0, 0.8);
  background-gradient-end: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  min-height: 30px;
  min-width: 30px;
  background-color: #2d2d2d;
  border: 1px solid #444444;
  border-radius: 2px;
  font-size: 14pt;
  font-weight: bold;
  color: #dcdcdc;
}
.keyboard-key:grayed {
  color: #888888;
}
.keyboard-key:checked, .keyboard-key:hover {
  background-color: #444444;
  border: 1px solid #656565;
}
.keyboard-key:active {
  background-color: #242424;
  border: 1px solid #363636;
}

.keyboard-subkeys {
  color: #dcdcdc;
  padding: 0;
  -arrow-border-radius: 0;
  -arrow-background-color: #2d2d2d;
  -arrow-border-width: 1px;
  -arrow-border-color: #444444;
  -arrow-border-radius: 2px;
  -arrow-base: 16px;
  -arrow-rise: 8px;
  -boxpointer-gap: 2px;
}

/********************
 ! Hot corners icons
 ********************/
#overview-corner {
  background-image: url("control-assets/hotcorner-icon.svg");
}
#overview-corner:hover {
  background-image: url("control-assets/hotcorner-icon-hover.svg");
}

/********************
 ! Hot corner ripple
 ********************/
.ripple-box {
  width: 24px;
  height: 24px;
  background-image: url("misc-assets/corner-ripple.svg");
}

/*****************************
 ! Checkboxes + Radio buttons
 *****************************/
.check-box CinnamonGenericContainer {
  spacing: .2em;
  min-height: 16px;
}
.check-box StLabel {
  padding-top: 1px;
}
.check-box StBin {
  width: 16px;
  height: 16px;
  background-image: url("control-assets/check-box.svg");
}
.check-box:focus StBin {
  background-image: url("control-assets/check-box-focused.svg");
}
.check-box:checked StBin {
  background-image: url("control-assets/check-box-checked.svg");
}
.check-box:focus:checked {
  background-image: url("control-assets/check-box-focused-checked.svg");
}

.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  min-height: 16px;
}
.radiobutton StLabel {
  padding-top: 1px;
}
.radiobutton StBin {
  width: 16px;
  height: 16px;
  background-image: url("control-assets/radiobutton.svg");
}
.radiobutton:focus StBin {
  background-image: url("control-assets/radiobutton-focused.svg");
}
.radiobutton:checked StBin {
  background-image: url("control-assets/radiobutton-checked.svg");
}
.radiobutton:focus:checked {
  background-image: url("control-assets/radiobutton-focused-checked.svg");
}
